sub-deploy/20250730_2025-07-29T05:33:40.673Z.json
{"createdAt":"2025-07-02T06:45:18.125Z","updatedAt":"2025-07-29T05:33:40.673Z","id":"5wCVdXpCNTB9yu66","name":"sub-deploy","active":false,"isArchived":false,"nodes":[{"parameters":{"select":"channel","channelId":{"__rl":true,"value":"={{ $('deploy-the-specified-cluster').item.json.channel_id }}","mode":"id"},"text":"Deployment failed.","otherOptions":{"includeLinkToWorkflow":false}},"type":"n8n-nodes-base.slack","typeVersion":2.3,"position":[2380,280],"id":"939aea1c-eb03-4934-b2d5-2b0cd3a27b51","name":"发布失败","webhookId":"3bd6f117-576e-4aa1-9456-1851d8e36a3f","credentials":{"slackApi":{"id":"13OIerzhWzMlwQJL","name":"Slack account"}}},{"parameters":{"authentication":"privateKey","command":"=#!/bin/bash -xe\n\nexport KUBECONFIG=/home/runner/deployments/k8s/environ/{{ $('deploy-the-specified-cluster').item.json.cluster }}/kubeconfig.yaml\n\nfor name in /tmp/n8n/*; do\n  deploy_name=$(basename \"$name\")\n  target_num=$(cat $name)\n  echo \"Scaling up deployment $deploy_name to $target_num\"\n  kubectl -n meshyd scale deployment \"$deploy_name\" --replicas=$target_num\n  rm -f $name\ndone","cwd":"/home/runner/deployments/k8s"},"type":"n8n-nodes-base.ssh","typeVersion":1,"position":[2820,-80],"id":"2469c2e6-3099-4853-89ab-6404a08155fa","name":"Scaleup","credentials":{"sshPrivateKey":{"id":"WgzpY7I2E0hvAmm1","name":"runner@n8n-runner-aws"}}},{"parameters":{"select":"channel","channelId":{"__rl":true,"value":"={{ $('deploy-the-specified-cluster').item.json.channel_id }}","mode":"id"},"text":":everydayonecat-rocket: All deployment tasks have been successfully completed.","otherOptions":{"includeLinkToWorkflow":true}},"type":"n8n-nodes-base.slack","typeVersion":2.3,"position":[3260,-80],"id":"c1d46ca6-ad3a-44e1-9c9f-1799736a5f0f","name":"部署完成","webhookId":"2eb65517-dd80-4385-941a-52c1944b8718","credentials":{"slackApi":{"id":"13OIerzhWzMlwQJL","name":"Slack account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"b8b4368f-80eb-4852-abdc-592425b1cadc","leftValue":"={{ $json.code }}","rightValue":0,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[400,200],"id":"8bb5293c-691a-47cf-9309-9156d3f9fbf1","name":"If"},{"parameters":{"select":"channel","channelId":{"__rl":true,"value":"={{ $('deploy-the-specified-cluster').item.json.channel_id }}","mode":"name"},"text":"={{ $json.stderr }}","otherOptions":{}},"type":"n8n-nodes-base.slack","typeVersion":2.3,"position":[720,460],"id":"aae3a2cf-e14a-416d-a735-a9fcae30abad","name":"replaces获取失败","webhookId":"83ebe5de-c71e-4e9a-a97b-8cf675335513","credentials":{"slackApi":{"id":"13OIerzhWzMlwQJL","name":"Slack account"}}},{"parameters":{"authentication":"privateKey","command":"=export KUBECONFIG=/home/runner/deployments/k8s/environ/{{ $('deploy-the-specified-cluster').item.json.cluster }}/kubeconfig.yaml\n\nkubectl -n noded rollout status daemonset/prepull --timeout 300s","cwd":"/home/runner"},"type":"n8n-nodes-base.ssh","typeVersion":1,"position":[-360,200],"id":"2a79b278-f053-442b-bfb9-48f097a505b5","name":"Wait for prepull available","credentials":{"sshPrivateKey":{"id":"WgzpY7I2E0hvAmm1","name":"runner@n8n-runner-aws"}}},{"parameters":{"authentication":"privateKey","command":"git reset --hard\ngit clean -fdx\ngit pull origin main","cwd":"/home/runner/deployments"},"type":"n8n-nodes-base.ssh","typeVersion":1,"position":[-620,200],"id":"5efc0090-e874-4c2d-8571-d41f729f72cb","name":"Update deployments repository","credentials":{"sshPrivateKey":{"id":"WgzpY7I2E0hvAmm1","name":"runner@n8n-runner-aws"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"610baf22-df7d-4653-a2d8-5b285f01fec0","leftValue":"={{ $json.ok }}","rightValue":0,"operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1940,260],"id":"c7559c70-04be-4dcf-aafe-1f6420b7f84f","name":"Deploy success"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"8aa7c2f5-73a9-44e2-91e5-1ca85f3a15bf","leftValue":"={{ $json.data.approved }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-920,220],"id":"5763edee-510f-4ad2-a8ae-ee799e24b8bc","name":"If1"},{"parameters":{"operation":"sendAndWait","select":"channel","channelId":{"__rl":true,"value":"={{ $json.channel_id }}","mode":"id"},"message":"=Starting to deploy the service to the `{{ $json.cluster }}` cluster. Confirm to proceed?","approvalOptions":{"values":{"approvalType":"double","disapproveLabel":"Skip"}},"options":{}},"type":"n8n-nodes-base.slack","typeVersion":2.3,"position":[-1120,220],"id":"75fe6378-0c51-4d6e-bad3-3a684caddd0a","name":"Begin to deploy","webhookId":"8063b0bc-a08f-4aae-ba63-044db83a8d7d","credentials":{"slackApi":{"id":"13OIerzhWzMlwQJL","name":"Slack account"}}},{"parameters":{"select":"channel","channelId":{"__rl":true,"value":"={{ $('deploy-the-specified-cluster').item.json.channel_id }}","mode":"id"},"text":"=:heavy_check_mark: Pre-pull is ready. proceeding to the next step.","otherOptions":{"includeLinkToWorkflow":false}},"type":"n8n-nodes-base.slack","typeVersion":2.3,"position":[-140,200],"id":"d5ac21dd-1ea0-4348-872a-72792f5089bf","name":"Send pre-pull ready","webhookId":"149e4ff1-cd9f-40ea-9f72-2f2761382ba4","credentials":{"slackApi":{"id":"13OIerzhWzMlwQJL","name":"Slack account"}}},{"parameters":{"authentication":"privateKey","command":"=export KUBECONFIG=/home/runner/deployments/k8s/environ/{{ $('deploy-the-specified-cluster').item.json.cluster }}/kubeconfig.yaml\n\nmkdir -p /tmp/n8n\n\nkubectl -n meshyd get deployment -l app.kubernetes.io/name=meshyd-worker \\\n  -o custom-columns=\"NAME:.metadata.name,AVAILABLE:.status.replicas\" --no-headers | \\\nwhile read name available; do\n  echo \"$available\" > \"/tmp/n8n/$name\"\ndone","cwd":"/home/runner/deployments/k8s"},"type":"n8n-nodes-base.ssh","typeVersion":1,"position":[120,200],"id":"98d36f4d-59b1-49fc-b37f-9dfa1ee53b1a","name":"Store meshyd workers replicas","alwaysOutputData":true,"credentials":{"sshPrivateKey":{"id":"WgzpY7I2E0hvAmm1","name":"runner@n8n-runner-aws"}},"onError":"continueRegularOutput"},{"parameters":{"authentication":"privateKey","command":"=export KUBECONFIG=/home/runner/deployments/k8s/environ/{{ $('deploy-the-specified-cluster').item.json.cluster }}/kubeconfig.yaml\n\nfor name in /tmp/n8n/*; do\n  deploy_name=$(basename \"$name\")\n  echo \"Scaling down deployment $deploy_name to 0 from $(cat $name)\"\n  kubectl -n meshyd scale deployment \"$deploy_name\" --replicas=0\ndone","cwd":"/home/runner/deployments/k8s"},"type":"n8n-nodes-base.ssh","typeVersion":1,"position":[680,180],"id":"abc20377-dc67-410b-960d-7e6af5de6034","name":"Scale down","credentials":{"sshPrivateKey":{"id":"WgzpY7I2E0hvAmm1","name":"runner@n8n-runner-aws"}}},{"parameters":{"select":"channel","channelId":{"__rl":true,"value":"={{ $('deploy-the-specified-cluster').item.json.channel_id }}","mode":"id"},"text":":heavy_check_mark: Meshyd workers scaled down to 0. Starting deploy process","otherOptions":{"includeLinkToWorkflow":false}},"type":"n8n-nodes-base.slack","typeVersion":2.3,"position":[900,180],"id":"d1f0b466-b1db-4730-b275-ce105e8f39a8","name":"Send scale success","webhookId":"a17a607b-8e9a-4bc1-b8d4-c9f20fda0129","credentials":{"slackApi":{"id":"13OIerzhWzMlwQJL","name":"Slack account"}}},{"parameters":{"authentication":"privateKey","command":"=#!/bin/bash -xe\n\nsleep 60\n\nexport KUBECONFIG=/home/runner/deployments/k8s/environ/{{ $('deploy-the-specified-cluster').item.json.cluster }}/kubeconfig.yaml\n\nfor name in /tmp/n8n/*; do\n  deploy_name=$(basename \"$name\")\n  echo \"Scaling up deployment $deploy_name to 1\"\n  kubectl -n meshyd scale deployment \"$deploy_name\" --replicas=1\ndone","cwd":"/home/runner/deployments/k8s"},"type":"n8n-nodes-base.ssh","typeVersion":1,"position":[2380,-80],"id":"2e953f35-f10f-4505-96dd-142e9187a55b","name":"scale to 1","credentials":{"sshPrivateKey":{"id":"WgzpY7I2E0hvAmm1","name":"runner@n8n-runner-aws"}}},{"parameters":{"operation":"sendAndWait","select":"channel","channelId":{"__rl":true,"value":"={{ $('deploy-the-specified-cluster').item.json.channel_id }}","mode":"id"},"message":":heavy_check_mark: Meshyd workers deployments scaled to 1.\\n Please manually verify that the requests are functioning properly.","approvalOptions":{"values":{"approveLabel":"Confirmed"}},"options":{}},"type":"n8n-nodes-base.slack","typeVersion":2.3,"position":[2620,-80],"id":"38acdfaa-e4d7-4f73-bc40-029b2b2f1776","name":"Send message and wait for response","webhookId":"b4613c7a-d8dd-4d36-b28e-4d7cd9b70439","credentials":{"slackApi":{"id":"13OIerzhWzMlwQJL","name":"Slack account"}}},{"parameters":{"select":"channel","channelId":{"__rl":true,"value":"={{ $('deploy-the-specified-cluster').item.json.channel_id }}","mode":"id"},"text":"=:information_source: Skipped the `{{ $('deploy-the-specified-cluster').item.json.cluster }}` cluster. ","otherOptions":{"includeLinkToWorkflow":false}},"type":"n8n-nodes-base.slack","typeVersion":2.3,"position":[-600,460],"id":"976ae387-3037-4799-a662-15e174dd4e82","name":"Send skip","webhookId":"28db2c7c-95a4-4f0c-a243-7d9574448f92","credentials":{"slackApi":{"id":"13OIerzhWzMlwQJL","name":"Slack account"}}},{"parameters":{"select":"channel","channelId":{"__rl":true,"value":"={{ $('deploy-the-specified-cluster').item.json.channel_id }}","mode":"id"},"text":":heavy_check_mark: Meshyd workers have been scaled to the target number of replicas.","otherOptions":{"includeLinkToWorkflow":false}},"type":"n8n-nodes-base.slack","typeVersion":2.3,"position":[3020,-80],"id":"dd0a5881-383e-4a1a-8af1-726955c33e8e","name":"Send scaleup","webhookId":"0e0a761f-c868-4dfb-8d71-eccebdf4452d","credentials":{"slackApi":{"id":"13OIerzhWzMlwQJL","name":"Slack account"}}},{"parameters":{"workflowInputs":{"values":[{"name":"cluster"},{"name":"channel_id"},{"name":"meshy","type":"boolean"},{"name":"meshyd","type":"boolean"},{"name":"meshyd-worker","type":"boolean"},{"name":"meshy-webapp","type":"boolean"},{"name":"dcc-bpy","type":"boolean"},{"name":"dcc-houdini","type":"boolean"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-1320,220],"id":"97233895-80fa-47f5-bfb8-aa15c6b2f2a2","name":"deploy-the-specified-cluster"},{"parameters":{"workflowId":{"__rl":true,"value":"iyLKdIje6pVmSHuQ","mode":"list","cachedResultName":"sub-sub-deploy"},"workflowInputs":{"mappingMode":"defineBelow","value":{"enable":"={{ $('deploy-the-specified-cluster').item.json.meshy }}","channel_id":"={{ $('deploy-the-specified-cluster').item.json.channel_id }}","environ":"={{ $('deploy-the-specified-cluster').item.json.cluster }}","app":"meshy"},"matchingColumns":[],"schema":[{"id":"enable","displayName":"enable","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"boolean"},{"id":"channel_id","displayName":"channel_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"app","displayName":"app","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"environ","displayName":"environ","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[1040,-100],"id":"610a0952-6d42-4a52-95ca-fa1f880736ae","name":"sub-deploy-meshy"},{"parameters":{"workflowId":{"__rl":true,"value":"iyLKdIje6pVmSHuQ","mode":"list","cachedResultName":"sub-sub-deploy"},"workflowInputs":{"mappingMode":"defineBelow","value":{"enable":"={{ $('deploy-the-specified-cluster').item.json['meshyd-worker'] }}","channel_id":"={{ $('deploy-the-specified-cluster').item.json.channel_id }}","environ":"={{ $('deploy-the-specified-cluster').item.json.cluster }}","app":"meshyd-worker"},"matchingColumns":[],"schema":[{"id":"enable","displayName":"enable","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"boolean"},{"id":"channel_id","displayName":"channel_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"app","displayName":"app","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"environ","displayName":"environ","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[1940,-100],"id":"0adf30a0-086a-4041-9342-3cb4b54dc0f1","name":"sub-deploy-meshyd-worker"},{"parameters":{"workflowId":{"__rl":true,"value":"iyLKdIje6pVmSHuQ","mode":"list","cachedResultName":"sub-sub-deploy"},"workflowInputs":{"mappingMode":"defineBelow","value":{"enable":"={{ $('deploy-the-specified-cluster').item.json.meshyd }}","channel_id":"={{ $('deploy-the-specified-cluster').item.json.channel_id }}","environ":"={{ $('deploy-the-specified-cluster').item.json.cluster }}","app":"meshyd"},"matchingColumns":[],"schema":[{"id":"enable","displayName":"enable","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"boolean"},{"id":"channel_id","displayName":"channel_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"app","displayName":"app","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"environ","displayName":"environ","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[1220,-100],"id":"988b1bdf-7322-4c11-b00a-bfe6216f1c3d","name":"sub-deploy-meshyd-server"},{"parameters":{"workflowId":{"__rl":true,"value":"iyLKdIje6pVmSHuQ","mode":"list","cachedResultName":"sub-sub-deploy"},"workflowInputs":{"mappingMode":"defineBelow","value":{"enable":"={{ $('deploy-the-specified-cluster').item.json['meshy-webapp'] }}","channel_id":"={{ $('deploy-the-specified-cluster').item.json.channel_id }}","environ":"={{ $('deploy-the-specified-cluster').item.json.cluster }}","app":"meshy-webapp"},"matchingColumns":[],"schema":[{"id":"enable","displayName":"enable","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"boolean"},{"id":"channel_id","displayName":"channel_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"app","displayName":"app","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"environ","displayName":"environ","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[1400,-100],"id":"d1aaf09e-9aa7-4ae0-b542-0c1239a16e07","name":"sub-deploy-meshy-webapp"},{"parameters":{"workflowId":{"__rl":true,"value":"iyLKdIje6pVmSHuQ","mode":"list","cachedResultName":"sub-sub-deploy"},"workflowInputs":{"mappingMode":"defineBelow","value":{"enable":"={{ $('deploy-the-specified-cluster').item.json['dcc-bpy'] }}","channel_id":"={{ $('deploy-the-specified-cluster').item.json.channel_id }}","environ":"={{ $('deploy-the-specified-cluster').item.json.cluster }}","app":"dcc-bpy"},"matchingColumns":[],"schema":[{"id":"enable","displayName":"enable","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"boolean"},{"id":"channel_id","displayName":"channel_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"app","displayName":"app","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"environ","displayName":"environ","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[1580,-100],"id":"250f04e6-983c-4188-907b-82cb77709f41","name":"sub-deploy-dcc-bpy"},{"parameters":{"workflowId":{"__rl":true,"value":"iyLKdIje6pVmSHuQ","mode":"list","cachedResultName":"sub-sub-deploy"},"workflowInputs":{"mappingMode":"defineBelow","value":{"enable":"={{ $('deploy-the-specified-cluster').item.json['dcc-houdini'] }}","channel_id":"={{ $('deploy-the-specified-cluster').item.json.channel_id }}","environ":"={{ $('deploy-the-specified-cluster').item.json.cluster }}","app":"dcc-houdini"},"matchingColumns":[],"schema":[{"id":"enable","displayName":"enable","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"boolean"},{"id":"channel_id","displayName":"channel_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"app","displayName":"app","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"environ","displayName":"environ","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[1760,-100],"id":"f7720a79-22f0-4215-8562-f2076e848e51","name":"sub-deploy-dcc-houdini"}],"connections":{"Scaleup":{"main":[[{"node":"Send scaleup","type":"main","index":0}]]},"If":{"main":[[{"node":"Scale down","type":"main","index":0}],[{"node":"replaces获取失败","type":"main","index":0}]]},"部署完成":{"main":[[]]},"Wait for prepull available":{"main":[[{"node":"Send pre-pull ready","type":"main","index":0}]]},"Update deployments repository":{"main":[[{"node":"Wait for prepull available","type":"main","index":0}]]},"Deploy success":{"main":[[{"node":"scale to 1","type":"main","index":0}],[{"node":"发布失败","type":"main","index":0}]]},"If1":{"main":[[{"node":"Update deployments repository","type":"main","index":0}],[{"node":"Send skip","type":"main","index":0}]]},"Begin to deploy":{"main":[[{"node":"If1","type":"main","index":0}]]},"Send pre-pull ready":{"main":[[{"node":"Store meshyd workers replicas","type":"main","index":0}]]},"Store meshyd workers replicas":{"main":[[{"node":"If","type":"main","index":0}],[]]},"Scale down":{"main":[[{"node":"Send scale success","type":"main","index":0}]]},"Send scale success":{"main":[[{"node":"sub-deploy-meshy","type":"main","index":0}]]},"scale to 1":{"main":[[{"node":"Send message and wait for response","type":"main","index":0}]]},"Send message and wait for response":{"main":[[{"node":"Scaleup","type":"main","index":0}]]},"Send scaleup":{"main":[[{"node":"部署完成","type":"main","index":0}]]},"deploy-the-specified-cluster":{"main":[[{"node":"Begin to deploy","type":"main","index":0}]]},"sub-deploy-meshy":{"main":[[{"node":"sub-deploy-meshyd-server","type":"main","index":0}]]},"sub-deploy-meshyd-worker":{"main":[[{"node":"Deploy success","type":"main","index":0}]]},"sub-deploy-meshyd-server":{"main":[[{"node":"sub-deploy-meshy-webapp","type":"main","index":0}]]},"sub-deploy-meshy-webapp":{"main":[[{"node":"sub-deploy-dcc-bpy","type":"main","index":0}]]},"sub-deploy-dcc-bpy":{"main":[[{"node":"sub-deploy-dcc-houdini","type":"main","index":0}]]},"sub-deploy-dcc-houdini":{"main":[[{"node":"sub-deploy-meshyd-worker","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","saveExecutionProgress":true,"callerPolicy":"workflowsFromSameOwner","executionTimeout":3600},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"deploy-the-specified-cluster":[{"json":{"cluster":"z1","channel_id":"C096JMM6PJ4","meshy":true,"meshyd":false,"meshyd-worker":true,"meshy-webapp":false}}]},"versionId":"e0a21c85-a05a-47d6-bf46-3716a6b8beb7","triggerCount":0,"shared":[{"createdAt":"2025-07-02T06:45:18.125Z","updatedAt":"2025-07-02T06:45:18.125Z","role":"workflow:owner","workflowId":"5wCVdXpCNTB9yu66","projectId":"jA0J1Ydudz3t9Nad","project":{"createdAt":"2025-06-26T09:34:51.351Z","updatedAt":"2025-06-26T09:37:01.737Z","id":"jA0J1Ydudz3t9Nad","name":"Meshy AI <cloud-admins@meshy.ai>","type":"personal","icon":null,"description":null,"projectRelations":[{"createdAt":"2025-06-26T09:34:51.351Z","updatedAt":"2025-06-26T09:34:51.351Z","role":"project:personalOwner","userId":"35043bb3-1b78-4ddc-8eb1-4498c37e073f","projectId":"jA0J1Ydudz3t9Nad","user":{"createdAt":"2025-06-26T09:34:50.409Z","updatedAt":"2025-07-08T09:36:34.003Z","id":"35043bb3-1b78-4ddc-8eb1-4498c37e073f","email":"cloud-admins@meshy.ai","firstName":"Meshy","lastName":"AI","personalizationAnswers":null,"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"5wCVdXpCNTB9yu66","userActivatedAt":1751967393973},"role":"global:owner","disabled":false,"mfaEnabled":false,"isPending":false}}]}}],"tags":[{"createdAt":"2025-07-08T09:29:54.890Z","updatedAt":"2025-07-08T09:29:54.890Z","id":"KyqggJVNX7rPfoZx","name":"Infra"},{"createdAt":"2025-07-15T06:56:24.125Z","updatedAt":"2025-07-15T06:56:24.125Z","id":"FWJrdcfQA921RwJa","name":"Prod"},{"createdAt":"2025-07-16T02:53:31.564Z","updatedAt":"2025-07-16T02:53:31.564Z","id":"KMYpD8C8o3LAaanS","name":"SubWorkflow"}]}