sub-prepull_21_2025-07-17T10:01:16.577Z.json

{"createdAt":"2025-07-08T09:58:49.478Z","updatedAt":"2025-07-17T10:01:16.577Z","id":"cWVXYRtMUZBHlSd3","name":"sub-prepull","active":false,"isArchived":false,"nodes":[{"parameters":{"authentication":"privateKey","command":"=git reset --hard\ngit clean -fdx\ngit pull origin main","cwd":"/home/runner/deployments"},"type":"n8n-nodes-base.ssh","typeVersion":1,"position":[-460,-100],"id":"08fda066-6055-4bba-b096-36127e8202aa","name":"Prepare environment","credentials":{"sshPrivateKey":{"id":"WgzpY7I2E0hvAmm1","name":"runner@n8n-runner-aws"}}},{"parameters":{"authentication":"privateKey","command":"=source /home/runner/venv/bin/activate\n/home/runner/deployments/k8s/deploy --environ {{ $('pre-pull-trigger').item.json.cluster }} --app meshy prepull","cwd":"/home/runner/deployments/k8s"},"type":"n8n-nodes-base.ssh","typeVersion":1,"position":[20,-100],"id":"6ba7d404-3454-43ce-b0df-208603e72e7a","name":"Execute pre-release","credentials":{"sshPrivateKey":{"id":"WgzpY7I2E0hvAmm1","name":"runner@n8n-runner-aws"}}},{"parameters":{"authentication":"privateKey","command":"=yq e '.applications[] | select(.name == \"meshy\") | .appVersion' environ/{{ $('pre-pull-trigger').item.json.cluster }}/app-versions.yaml","cwd":"/home/runner/deployments/k8s"},"type":"n8n-nodes-base.ssh","typeVersion":1,"position":[-300,-100],"id":"b88dc23c-f11b-458e-bf40-ee1192e57e90","name":"Get meshy version","credentials":{"sshPrivateKey":{"id":"WgzpY7I2E0hvAmm1","name":"runner@n8n-runner-aws"}}},{"parameters":{"select":"channel","channelId":{"__rl":true,"value":"={{ $('pre-pull-trigger').item.json.channel_id }}","mode":"id"},"text":"=:kubecat: Executing the `pre-pull` command on `{{ $('pre-pull-trigger').item.json.cluster }}` with version `{{ $json.stdout }}`","otherOptions":{"includeLinkToWorkflow":false}},"type":"n8n-nodes-base.slack","typeVersion":2.3,"position":[-140,-100],"id":"761f208a-51b8-4aa3-86aa-1bcf68f7b737","name":"Send starting","webhookId":"3f5a4e63-204b-4643-8901-d07250520a61","credentials":{"slackApi":{"id":"13OIerzhWzMlwQJL","name":"Slack account"}}},{"parameters":{"operation":"update","channelId":{"__rl":true,"value":"={{ $('pre-pull-trigger').item.json.channel_id }}","mode":"id"},"ts":"={{ $('Send starting').item.json.message_timestamp }}","text":"=:kubecat: Successfully `pre-pull` on the `{{ $('pre-pull-trigger').item.json.cluster }}` cluster with version: `{{ $('Get meshy version').item.json.stdout }}`.","updateFields":{},"otherOptions":{"includeLinkToWorkflow":false}},"type":"n8n-nodes-base.slack","typeVersion":2.3,"position":[180,-100],"id":"71ba664a-e870-49d0-887f-2901a6c64acc","name":"Update a message","webhookId":"a6ce9d7f-a3b0-4963-88c9-1825c664d08c","credentials":{"slackApi":{"id":"13OIerzhWzMlwQJL","name":"Slack account"}}},{"parameters":{"workflowInputs":{"values":[{"name":"cluster"},{"name":"channel_id"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-640,-100],"id":"65037e81-3c92-48bd-a619-740eb79e982e","name":"pre-pull-trigger"}],"connections":{"Prepare environment":{"main":[[{"node":"Get meshy version","type":"main","index":0}]]},"Execute pre-release":{"main":[[{"node":"Update a message","type":"main","index":0}]]},"Get meshy version":{"main":[[{"node":"Send starting","type":"main","index":0}]]},"Send starting":{"main":[[{"node":"Execute pre-release","type":"main","index":0}]]},"pre-pull-trigger":{"main":[[{"node":"Prepare environment","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"74c6d62a-90a1-433b-803c-6444acc96e20","triggerCount":0,"shared":[{"createdAt":"2025-07-08T09:58:49.478Z","updatedAt":"2025-07-08T09:58:49.478Z","role":"workflow:owner","workflowId":"cWVXYRtMUZBHlSd3","projectId":"jA0J1Ydudz3t9Nad","project":{"createdAt":"2025-06-26T09:34:51.351Z","updatedAt":"2025-06-26T09:37:01.737Z","id":"jA0J1Ydudz3t9Nad","name":"Meshy AI <cloud-admins@meshy.ai>","type":"personal","icon":null,"description":null,"projectRelations":[{"createdAt":"2025-06-26T09:34:51.351Z","updatedAt":"2025-06-26T09:34:51.351Z","role":"project:personalOwner","userId":"35043bb3-1b78-4ddc-8eb1-4498c37e073f","projectId":"jA0J1Ydudz3t9Nad","user":{"createdAt":"2025-06-26T09:34:50.409Z","updatedAt":"2025-07-08T09:36:34.003Z","id":"35043bb3-1b78-4ddc-8eb1-4498c37e073f","email":"cloud-admins@meshy.ai","firstName":"Meshy","lastName":"AI","personalizationAnswers":null,"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"5wCVdXpCNTB9yu66","userActivatedAt":1751967393973},"role":"global:owner","disabled":false,"mfaEnabled":false,"isPending":false}}]}}],"tags":[{"createdAt":"2025-07-08T09:29:54.890Z","updatedAt":"2025-07-08T09:29:54.890Z","id":"KyqggJVNX7rPfoZx","name":"Infra"},{"createdAt":"2025-07-15T06:56:24.125Z","updatedAt":"2025-07-15T06:56:24.125Z","id":"FWJrdcfQA921RwJa","name":"Prod"},{"createdAt":"2025-07-16T02:53:31.564Z","updatedAt":"2025-07-16T02:53:31.564Z","id":"KMYpD8C8o3LAaanS","name":"SubWorkflow"}]}