staging-deploy-by-form/20250820_2025-08-18T10:42:09.778Z.json
{"createdAt":"2025-08-12T09:54:21.936Z","updatedAt":"2025-08-18T10:42:09.778Z","id":"g0ghYvKIgCe7vuYe","name":"staging-deploy-by-form","active":true,"isArchived":false,"nodes":[{"parameters":{"select":"channel","channelId":{"__rl":true,"value":"={{ $('Args').item.json.channel_id }}","mode":"id"},"messageType":"attachment","attachments":[{"author_icon":"https://github.com/n8n-io.png?size=32","author_link":"https://n8n.meshy.team/workflow/0noJUHSrpVMqRF3B","author_name":"n8n-runner","fallback":"=Deploy {{ $('form-submission').item.json.app }}: {{ $('form-submission').item.json.version }} to {{ !!$('form-submission').item.json.corridor_id ? \"staging-corridor-\" +  $('form-submission').item.json.corridor_id : \"staging\" }} : {{ $json.code === 0 ? \"success\": \"failed\" }}","fields":{"item":[{"title":"Message","value":"=Deploy {{ $('form-submission').item.json.app }}: {{ $('form-submission').item.json.version }} to {{ !!$('form-submission').item.json.corridor_id ? \"staging-corridor-\" +  $('form-submission').item.json.corridor_id : \"staging\" }} : {{ $json.code === 0 ? \"success\": \"failed\" }}","short":false}]},"footer":"=<https://n8n.meshy.team|Powered By n8n.meshy.team> | <https://n8n.meshy.team/workflow/0noJUHSrpVMqRF3B/executions/{{ $execution.id }}|Triggered on this workflow run>","color":"={{ $json.code === 0 ? \"good\": \"danger\" }}"}],"otherOptions":{"includeLinkToWorkflow":false}},"type":"n8n-nodes-base.slack","typeVersion":2.3,"position":[1300,60],"id":"321d1038-b671-4a4f-891d-10f3d4ecec39","name":"send-deploy-result","webhookId":"be1daf78-8303-40c4-a8a6-ec873cb9a971","credentials":{"slackApi":{"id":"13OIerzhWzMlwQJL","name":"Slack account"}}},{"parameters":{"authentication":"privateKey","command":"#!/bin/bash\n\nREPO_DIR=\"/home/runner/deployments-staging\"\n\nif [ -d \"$REPO_DIR\" ]; then\n    if [ -d \"$REPO_DIR/.git\" ]; then\n        echo \"Git repository found at $REPO_DIR. Resetting local changes and pulling latest changes...\"\n\n        cd \"$REPO_DIR\" || { echo \"Failed to change directory to $REPO_DIR\"; exit 1; }\n\n        git reset --hard || { echo \"Git reset failed. Please check the repository.\"; exit 1; }\n        git checkout deploy/staging || { echo \"Git checkout failed. Please check the repository.\"; exit 1; }\n        git pull origin deploy/staging --rebase || { echo \"Git pull failed. Please check the repository.\"; exit 1; }\n\n        echo \"Successfully reset local changes and pulled latest changes.\"\n    else\n        echo \"$REPO_DIR is not a Git repository.\"\n        exit 1\n    fi\nelse\n    echo \"Directory $REPO_DIR does not exist.\"\n    exit 1\nfi\n","cwd":"/home/runner/deployments-staging"},"type":"n8n-nodes-base.ssh","typeVersion":1,"position":[-200,40],"id":"354156d8-1949-4b22-b42d-4c435ad961e4","name":"git-reset-pull-rebase-ops","credentials":{"sshPrivateKey":{"id":"WgzpY7I2E0hvAmm1","name":"runner@n8n-runner-aws"}},"onError":"continueRegularOutput"},{"parameters":{"authentication":"privateKey","command":"=source /home/runner/venv/bin/activate\n\nexport GIT_AUTHOR_NAME='Deployment CI Bot'\nexport GIT_AUTHOR_EMAIL='ci-bot@meshy.ai'\nexport GIT_COMMITTER_NAME='Deployment CI Bot'\nexport GIT_COMMITTER_EMAIL='ci-bot@meshy.ai'\n\nARGS=()\nif [ -n \"{{ $('form-submission').item.json.corridor_id }}\" ]; then\n  ARGS+=(\"--corridor-id\" \"{{ $('form-submission').item.json.corridor_id }}\")\nfi\n\n/home/runner/deployments-staging/k8s/deploy --environ staging update --app {{ $('form-submission').item.json.app }} --app-version {{ $('form-submission').item.json.version }} \"${ARGS[@]}\"\n\ngit push origin HEAD\n","cwd":"/home/runner/deployments-staging/k8s"},"type":"n8n-nodes-base.ssh","typeVersion":1,"position":[820,60],"id":"c32827cf-d73d-4913-8e32-37f9ef022ace","name":"update-code-and-push","credentials":{"sshPrivateKey":{"id":"WgzpY7I2E0hvAmm1","name":"runner@n8n-runner-aws"}},"onError":"continueRegularOutput"},{"parameters":{"authentication":"privateKey","command":"=source /home/runner/venv/bin/activate\n\nARGS=()\nif [ -n \"{{ $('form-submission').item.json.corridor_id }}\" ]; then\n  ARGS+=(\"--corridor-id\" \"{{ $('form-submission').item.json.corridor_id }}\")\nfi\n\n/home/runner/deployments-staging/k8s/deploy --environ staging deploy --app {{ $('form-submission').item.json.app }} --app-version {{ $('form-submission').item.json.version }} \"${ARGS[@]}\" --wait\n","cwd":"/home/runner/deployments-staging/k8s"},"type":"n8n-nodes-base.ssh","typeVersion":1,"position":[1080,60],"id":"a55f519b-cb2d-4501-8899-163c2f693efc","name":"exec-deploy","credentials":{"sshPrivateKey":{"id":"WgzpY7I2E0hvAmm1","name":"runner@n8n-runner-aws"}},"onError":"continueRegularOutput"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"51deb38d-1690-41e1-a930-155aba7b9f43","leftValue":"={{ $('form-submission').item.json.app }}","rightValue":"meshyd","operator":{"type":"string","operation":"startsWith"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-20,40],"id":"d593d1ce-e403-4393-a59b-f223354bdb58","name":"if-meshyd-worker"},{"parameters":{"authentication":"privateKey","command":"=source /home/runner/venv/bin/activate\n\nexport GIT_AUTHOR_NAME='Deployment CI Bot'\nexport GIT_AUTHOR_EMAIL='ci-bot@meshy.ai'\nexport GIT_COMMITTER_NAME='Deployment CI Bot'\nexport GIT_COMMITTER_EMAIL='ci-bot@meshy.ai'\n\n/home/runner/deployments-staging/k8s/deploy --environ staging update --app meshyd-cron --app-version {{ $('form-submission').item.json.version }}\n\ngit push origin HEAD\n","cwd":"/home/runner/deployments-staging/k8s"},"type":"n8n-nodes-base.ssh","typeVersion":1,"position":[260,-140],"id":"ee18df87-e12b-4bd7-8089-76492d89d821","name":"update-cron","credentials":{"sshPrivateKey":{"id":"WgzpY7I2E0hvAmm1","name":"runner@n8n-runner-aws"}},"onError":"continueRegularOutput"},{"parameters":{"authentication":"privateKey","command":"=source /home/runner/venv/bin/activate\n/home/runner/deployments-staging/k8s/deploy --environ staging deploy --app meshyd-cron --app-version {{ $('form-submission').item.json.version }} --wait\n","cwd":"/home/runner/deployments-staging/k8s"},"type":"n8n-nodes-base.ssh","typeVersion":1,"position":[480,-140],"id":"f036745c-5ff2-4673-b3bb-037a8798f9b6","name":"exec-deploy-cron","credentials":{"sshPrivateKey":{"id":"WgzpY7I2E0hvAmm1","name":"runner@n8n-runner-aws"}},"onError":"continueRegularOutput"},{"parameters":{"formTitle":"Staging Deploy","formFields":{"values":[{"fieldLabel":"app","fieldType":"dropdown","fieldOptions":{"values":[{"option":"meshy"},{"option":"meshyd"},{"option":"meshyd-worker"},{"option":"mechoux"},{"option":"dcc-bpy"},{"option":"dcc-houdini"}]},"requiredField":true},{"fieldLabel":"version","placeholder":"app version","requiredField":true},{"fieldLabel":"corridor_id","placeholder":"000"}]},"responseMode":"lastNode","options":{"path":"staging-deploy"}},"type":"n8n-nodes-base.formTrigger","typeVersion":2.2,"position":[-900,40],"id":"d1a97d71-0b96-46d8-9efd-a595a7474465","name":"form-submission","webhookId":"be745a25-c67c-46b2-8e36-9e5dbd76968f"},{"parameters":{"assignments":{"assignments":[{"id":"50b1f139-8e10-48c5-9abf-3a8a16695971","name":"channel_id","value":"C057V4HJXGV","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-400,40],"id":"b4a3fde7-c026-4705-8fb8-132cae470358","name":"Args"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"6f2df1de-286f-4982-a43f-44983b675327","leftValue":"={{ $json.app }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}},{"id":"ee86373f-78bc-4b0a-8cf0-073164a8280c","leftValue":"={{ $json.version }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-660,40],"id":"a86eed39-33b5-4eb1-ada4-4ee242cc27a9","name":"if-values"}],"connections":{"git-reset-pull-rebase-ops":{"main":[[{"node":"if-meshyd-worker","type":"main","index":0}],[]]},"update-code-and-push":{"main":[[{"node":"exec-deploy","type":"main","index":0}]]},"exec-deploy":{"main":[[{"node":"send-deploy-result","type":"main","index":0}],[]]},"if-meshyd-worker":{"main":[[{"node":"update-cron","type":"main","index":0}],[{"node":"update-code-and-push","type":"main","index":0}]]},"update-cron":{"main":[[{"node":"exec-deploy-cron","type":"main","index":0}]]},"exec-deploy-cron":{"main":[[{"node":"update-code-and-push","type":"main","index":0}]]},"form-submission":{"main":[[{"node":"if-values","type":"main","index":0}]]},"Args":{"main":[[{"node":"git-reset-pull-rebase-ops","type":"main","index":0}]]},"if-values":{"main":[[{"node":"Args","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"form-submission":[{"json":{"app":null,"version":null,"corridor_id":null,"submittedAt":"2025-08-12T06:16:44.978-04:00","formMode":"production"}}]},"versionId":"36856848-8cff-4301-9890-12c411d523c4","triggerCount":1,"shared":[{"createdAt":"2025-08-12T09:54:21.936Z","updatedAt":"2025-08-12T09:54:21.936Z","role":"workflow:owner","workflowId":"g0ghYvKIgCe7vuYe","projectId":"jA0J1Ydudz3t9Nad","project":{"createdAt":"2025-06-26T09:34:51.351Z","updatedAt":"2025-06-26T09:37:01.737Z","id":"jA0J1Ydudz3t9Nad","name":"Meshy AI <cloud-admins@meshy.ai>","type":"personal","icon":null,"description":null,"projectRelations":[{"createdAt":"2025-06-26T09:34:51.351Z","updatedAt":"2025-06-26T09:34:51.351Z","role":"project:personalOwner","userId":"35043bb3-1b78-4ddc-8eb1-4498c37e073f","projectId":"jA0J1Ydudz3t9Nad","user":{"createdAt":"2025-06-26T09:34:50.409Z","updatedAt":"2025-07-08T09:36:34.003Z","id":"35043bb3-1b78-4ddc-8eb1-4498c37e073f","email":"cloud-admins@meshy.ai","firstName":"Meshy","lastName":"AI","personalizationAnswers":null,"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"5wCVdXpCNTB9yu66","userActivatedAt":1751967393973},"role":"global:owner","disabled":false,"mfaEnabled":false,"isPending":false}}]}}],"tags":[]}