Meshy Support Workflow/20250801_2025-08-01T01:52:22.466Z.json
{"createdAt":"2025-07-18T02:26:25.999Z","updatedAt":"2025-08-01T01:52:22.466Z","id":"xLHicirK0u38a0US","name":"Meshy Support Workflow","active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"intercom-webhook","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-4500,180],"id":"5bd75b6c-acc3-434c-bff3-9e4135592aff","name":"Intercom Webhook","webhookId":"d9bca30c-aac5-4223-8c8a-8a2ba529eaba"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.body.topic }}","rightValue":"conversation.user.created","operator":{"type":"string","operation":"equals"},"id":"f3b9003c-d91d-45fc-9dc5-95816424f733"}],"combinator":"and"},"renameOutput":true,"outputKey":"Create Conversation"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"63c41eee-7bee-4c98-b537-fa657d7b7c41","leftValue":"={{ $json.body.topic }}","rightValue":"conversation.user.replied","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Reply Conversation"}]},"options":{"fallbackOutput":"none"}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-4280,180],"id":"a1347f3d-0072-44a0-9702-26a674f3ed05","name":"Webhook Topic Dispatch"},{"parameters":{"assignments":{"assignments":[{"id":"8638f58d-a917-4a1a-9b57-23df36ba6d75","name":"email","value":"={{ $json.body.data.item.source.author.email }}","type":"string"},{"id":"99697ea7-caa1-4e40-b560-9d7e9d3bb4e0","name":"name","value":"={{ $json.body.data.item.source.author.name }}","type":"string"},{"id":"79ff6852-bfa9-45e5-aefc-16302adf5181","name":"source","value":"={{ $json.body.data.item.source.type }}","type":"string"},{"id":"6629906d-283d-4e67-9051-bfcc48bc9c8a","name":"date","value":"={{ $json.headers.date }}","type":"string"},{"id":"86c93684-a3e5-4179-b967-03b6bea3fa7e","name":"conversation_id","value":"={{ $json.body.data.item.id }}","type":"string"},{"id":"23d64ff0-a20a-498a-82a3-f82fffc417fa","name":"subject","value":"={{ $json.body.data.item.source.subject }}","type":"string"},{"id":"42270ac0-5cec-46d6-9a3e-99f2e4cedf4e","name":"body","value":"={{ $json.body.data.item.source.body }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-3840,180],"id":"bfdc2d1d-2c7a-4494-b72e-f2283385b08f","name":"Get Conversation Info"},{"parameters":{"model":{"__rl":true,"value":"gpt-4.1","mode":"list","cachedResultName":"gpt-4.1"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-3340,1160],"id":"0f3eb49c-65e6-4d22-a830-b2fe4cf806fa","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"iPu6knDrJFJxLQSO","name":"OpenAI account for support"}}},{"parameters":{"promptType":"define","text":"=You are an AI agent responsible for classifying customer support emails for a SaaS product into specific categories. You will be provided with the subject and body of each email. Analyze the content carefully and classify it into one of the following categories based on the email's content and intent:\n\n- Refund Request: Customer explicitly requests a refund, reimbursement, or cancellation with a monetary return.\n- Product Feedback: Customer shares opinions, suggestions, criticism, or praise about existing features or product usability.\n- Support Question: Customer asks for guidance, instructions, or troubleshooting related to product usage.\n- General Question: Customer inquires about non-technical topics, company information, pricing, or other general topics.\n- Feature Question: Customer seeks clarification or detailed information about existing product features or capabilities.\n- Feature Request: Customer explicitly asks for a new feature, improvement, or functionality that doesn't currently exist.\n- Bug Report: Customer reports an issue, malfunction, error, or unexpected behavior in the product.\n- Other: Customer email doesn't clearly fit into any of the above categories or is ambiguous.\n\nReturn the output as a JSON object with these fields:\n{\n  \"category\": \"<Category Name>\",\n  \"confidence\": number (0 to 1),\n  \"reasoning\": \"<Brief explanation of why you selected this category>\"\n}\n\nThe support email to be classified:\n\"\"\"\n- Subject: {{ $json.subject }}\n- Body:\n{{ $json.body }}\n\"\"\" ","hasOutputParser":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[-3620,180],"id":"bf52c391-a16d-43a3-a49f-174d544eab0f","name":"Intent Classifier"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.output.category }}","rightValue":"Refund Request","operator":{"type":"string","operation":"equals"},"id":"10eb55f4-ba7b-4e97-a43a-6a00cdbb7bb6"}],"combinator":"and"},"renameOutput":true,"outputKey":"Refund Request"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"3a033f30-2f8e-4df5-9fcc-ea9695d45960","leftValue":"={{ $json.output.category }}","rightValue":"Product Feedback","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Product Feedback"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"3127f740-61fd-490a-9df9-cc9b4c13295a","leftValue":"={{ $json.output.category }}","rightValue":"Support Question","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Support Question"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"a1d94617-4e01-4480-be5b-7877f275bbb6","leftValue":"={{ $json.output.category }}","rightValue":"General Question","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"General Question"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"010fba42-29fb-4e66-a1ba-47dece71e903","leftValue":"={{ $json.output.category }}","rightValue":"Feature Question","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Feature Question"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"8ac007bd-d35f-4577-be68-5516572a62bb","leftValue":"={{ $json.output.category }}","rightValue":"Feature Request","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Feature Request"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"f30018aa-154e-46c7-ac82-61584bdb3a95","leftValue":"={{ $json.output.category }}","rightValue":"Bug Report","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Bug Report"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"c05650c6-8094-4559-b759-b9fb91adf185","leftValue":"={{ $json.output.category }}","rightValue":"Other","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Other"}]},"options":{"fallbackOutput":7}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-3260,80],"id":"0ab6d0fe-6d7d-4c34-9c7c-69eecac60384","name":"Switch Intent"},{"parameters":{"method":"POST","url":"=https://api.intercom.io/conversations/{{ $('Get Conversation Info').item.json.conversation_id }}/tags ","authentication":"predefinedCredentialType","nodeCredentialType":"intercomApi","sendBody":true,"bodyParameters":{"parameters":[{"name":"id","value":"={{ $json.tag }}"},{"name":"admin_id","value":"7838852"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-2460,-120],"id":"c3a2f052-9843-4dba-8743-24e3379f0970","name":"Add Tag to Conversation","credentials":{"intercomApi":{"id":"Qo33N6yHJ87JjI7K","name":"Intercom account"}}},{"parameters":{"url":"https://api.intercom.io/tags","authentication":"predefinedCredentialType","nodeCredentialType":"intercomApi","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-2970,-120],"id":"3c0ab07b-ed60-4c14-ac10-72bed5cedbe1","name":"Get All Tags from Intercom","credentials":{"httpBasicAuth":{"id":"ZH0T4M4mYusmBIZm","name":"Unnamed credential 3"},"intercomApi":{"id":"Qo33N6yHJ87JjI7K","name":"Intercom account"}}},{"parameters":{"jsCode":"let tagId = \"\";\n\nconst category = $('Intent Classifier').all()[0].json.output.category;\n\nfor (const item of $('Get All Tags from Intercom').all()[0].json.data) {\n  if (item.name === category) {\n    tagId = item.id;\n    break; // Exit loop once tagId is found\n  }\n}\n\nreturn { tag: tagId };"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-2680,-120],"id":"a87e8860-ec48-4017-b9a9-605a65aa3617","name":"Get Matching Tag ID"},{"parameters":{"promptType":"define","text":"=You are writing a product feedback issue for Meshy AI (www.meshy.ai), an AI-powered 3D model generator SaaS product that converts text and images into a 3D model in minutes.\n\nCreate a clear, concise, and well-structured issue description to raise in Linear for the product team based on a user’s Feature Request.\n\n**Context & Brand Voice:**\n-  Reflects Meshy’s commitment to user-centric innovation and quality\n-  Maintains a professional and actionable tone suitable for an internal product issue\n-  Captures the essence and value of the user feedback\n-  Provides enough detail to help the product team understand and prioritize the suggestion\n\n**Issue Requirements:**\n-  Title summarizing the suggestion clearly and briefly\n-  Detailed description including:\n  - User's original request: Direct quote or paraphrased summary.\n  - Context or Problem: Explanation of the underlying issue or use-case described by the user.\n  - Proposed Solution: Clearly outlined solution or feature request.\n\n**Template Structure:**\n-  Issue Title\n-  Description section with user request and context\n-  User info section\n-  Impact or benefit statement\n-  Optional next steps or notes\n\nThe issue should be concise but informative, suitable for tracking and prioritization in Linear.\n\n**User Data:**\n-  email:{{ $('Get Conversation Info').item.json.email }} \n-  name: {{ $('Get Conversation Info').item.json.name }}\n-  date: {{ $('Get Conversation Info').item.json.date }}\n-  id: {{ $('Get Conversation Info').item.json.conversation_id }}\n-  subject: {{ $('Get Conversation Info').item.json.subject }}\n-  body: {{ $('Get Conversation Info').item.json.body }}\n\nReturn the content in the following JSON format:\n\n{\n  \"title\": \"[Feature Request] {short summary of the suggestion}\",\n  \"priority\": {1 for Urgent | 2 for High | 3 for Medium | 4 for Low, return number}\n  \"description\": \"\n**User Request:**\n{direct quote or paraphrased summary.}\n\n**Context or Problem:**\n{explanation of the underlying issue or use-case described by the user.}\n\n**Proposed Solution:**\n{clearly outlined solution or feature request.}\n\n**User Info:**\n-  Name: {name}\n-  Email: {email}\n-  Date: {date}\n-  Intercom Link: https://app.intercom.com/a/inbox/ipvgg8in/inbox/shared/all/conversation/{{ $('Get Conversation Info').item.json.conversation_id }}\n\n**Impact:**\n{brief statement on why this feedback is valuable or how it could improve BookTranslator}\n\n**Next Steps:**\n{optional suggestions for product team}\n\n**Original Subject and Body:**\n{original subject}\n{original body}\n\"\n}","hasOutputParser":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[-2900,320],"id":"7bea5e7b-4171-43c9-bb38-2754515971aa","name":"Feature Request Linear Issue Writer"},{"parameters":{"jsonSchemaExample":"{\n  \"category\": \"Bug Report\",\n  \"confidence\": 0.5,\n  \"reasoning\": \"Brief explanation of why you selected this category\"\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[-3540,400],"id":"ea536278-3fd1-48f6-9a1e-1ee9d87f5078","name":"Intent Output Parser"},{"parameters":{"jsonSchemaExample":"{\n\"title\": \"[Feature Request] Support for Multiple File Formats in Model Export\",\n\"priority\": 2,\n\"description\": \"User Request:\\nCould you add support for exporting models in FBX and OBJ formats? Currently, I have to use external tools to convert files, which adds unnecessary steps to my workflow.\\n\\nContext or Problem:\\nUsers frequently require models in different file formats for various tools and workflows. Lack of native support for common formats such as FBX and OBJ forces users into inefficient workflows involving external software.\\n\\nProposed Solution:\\nIntroduce native export options for widely-used formats such as FBX and OBJ directly within Meshy AI.\\n\\nUser Info:\\n- Name: John Smith\\n- Email: john.smith@example.com\\n- Date: 2023-10-12\\n- Intercom Link: https://app.intercom.com/a/inbox/ipvgg8in/inbox/shared/all/conversation/215470099958895\\n\\nImpact:\\nAdding these export options will significantly streamline user workflows and increase Meshy AI's compatibility with industry-standard tools.\\n\\nNext Steps:\\nEvaluate technical feasibility and prioritize file format support based on user demand.\\n\\nOriginal Subject and Body:\\nSubject: Support for FBX and OBJ formats\\nBody: It would be great if Meshy AI supported exporting to FBX and OBJ. Currently, the process is cumbersome because it involves extra conversion steps.\"\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[-2740,520],"id":"2f1192b9-b618-4184-8d6c-8cd8591edf67","name":"Feature Request Linear Issue Output Parser"},{"parameters":{"promptType":"define","text":"=You are writing a bug report issue for Meshy AI (www.meshy.ai), an AI-powered 3D model generator SaaS product that converts text and images into a 3D model in minutes.\n\nCreate a clear, concise, and well-structured bug report to raise in Linear for the product team based on a user-reported issue.\n\n**Context & Brand Voice:**\n-  Reflects Meshy’s commitment to reliability and quality\n-  Maintains a professional and actionable tone suitable for an internal product issue\n-  Clearly documents what went wrong, its impact, and how to reproduce it\n-  Provides enough detail to help the engineering and QA teams investigate and resolve the bug quickly\n\n**Issue Requirements:**\n-  Title summarizing the issue clearly and briefly\n-  Detailed description including:\n  - Issue Summary: Short explanation of the bug the user experienced\n  - Steps to Reproduce: Step-by-step instructions to replicate the issue\n  - Expected vs. Actual Behavior: Clearly show the discrepancy\n\n**Template Structure:**\n-  Issue Title\n-  Description section with issue details and reproduction steps\n-  User info section\n-  Impact statement\n-  Optional next steps or engineering notes\n\nThe issue should be concise but comprehensive, making it easy for the product and engineering team to understand, reproduce, and prioritize the bug.\n\n**User Data:**\n-  email:{{ $('Get Conversation Info').item.json.email }} \n-  name: {{ $('Get Conversation Info').item.json.name }}\n-  date: {{ $('Get Conversation Info').item.json.date }}\n-  id: {{ $('Get Conversation Info').item.json.conversation_id }}\n-  subject: {{ $('Get Conversation Info').item.json.subject }}\n-  body: {{ $('Get Conversation Info').item.json.body }}\n\nReturn the content in the following JSON format:\n\n{\n  \"title\": \"[Bug Report] {short summary of the issue}\",\n  \"priority\": {1 for Urgent | 2 for High | 3 for Medium | 4 for Low, return number}\n  \"description\": \"\n**Issue Summary:**\n{brief summary of the bug as reported by the user.}\n\n**Steps to Reproduce:**\n1. {step 1 user took}\n2. {step 2 user took}\n3. {step 3 user took}\n\n**Expected Behavior:**\n{what the user expected to happen.}\n\n**Actual Behavior:**\n{what actually happened, including errors or glitches.}\n\n**User Environment:**\n- Browser/OS: {if known}\n- Meshy Plan: {Free/Pro/etc. if known}\n\n**User Info:**\n- Name: {name}\n- Email: {email}\n- Date: {date}\n- Intercom Link: https://app.intercom.com/a/inbox/ipvgg8in/inbox/shared/all/conversation/{{ $('Get Conversation Info').item.json.conversation_id }}\n\n**Impact:**\n{brief statement on how this bug affects the user’s experience or workflow.}\n\n**Next Steps:**\n{optional recommendations for engineering team, e.g., log check, reproduction attempt, or rollback consideration.}\n\n**Original Subject and Body:**\n{original subject}\n{original body}\n\"\n}","hasOutputParser":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[-2900,680],"id":"63f15c6e-ae99-4332-8b00-7ccd57bb0ed0","name":"Bug Report Linear Issue Writer"},{"parameters":{"jsonSchemaExample":"{\n  \"title\": \"[Bug Report] 3D Model Preview Fails to Load in Chrome\",\n  \"priority\": 2,\n  \"description\": \"**Issue Summary:** A user reported that the 3D model preview does not load when generating models via text prompts on Chrome. The model completes processing but remains stuck on a blank gray canvas.\\n\\n**Steps to Reproduce:**\\n1. Open Meshy AI in Chrome (Version 126.0.6478.114 on Windows 11).\\n2. Generate a 3D model using a text prompt (e.g., 'a red sports car with futuristic design').\\n3. Wait for model generation to complete.\\n4. Attempt to view the 3D preview.\\n\\n**Expected Behavior:** The 3D model should appear in the preview window, fully interactive and rotatable.\\n\\n**Actual Behavior:** The preview area stays blank gray, and console shows a WebGL rendering error.\\n\\n**User Environment:**\\n- Browser/OS: Chrome 126, Windows 11\\n- Meshy Plan: Pro\\n\\n**User Info:**\\n- Name: John Doe\\n- Email: john.doe@example.com\\n- Date: 2025-07-31\\n- Intercom Link: https://app.intercom.com/a/inbox/ipvgg8in/inbox/shared/all/conversation/123456789\\n\\n**Impact:** The bug prevents users from previewing generated 3D models, blocking immediate validation and workflow continuation. This could lead to repeated regenerations and increased support tickets.\\n\\n**Next Steps:** Engineering should attempt reproduction on Chrome/Windows with WebGL enabled. Check logs for rendering errors and verify if recent 3D viewer updates introduced compatibility issues.\\n\\n**Original Subject and Body:**\\nSubject: Model Preview Not Loading in Chrome\\nBody: I generated a model but the preview never loads in Chrome. It works in Firefox but not Chrome.\"\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[-2740,900],"id":"328cbfaa-a2fa-46f9-921c-2626d7cf2367","name":"Bug Report Linear Issue Output Parser"},{"parameters":{"teamId":"236508e2-cc35-4005-a5ea-59e7a4823c84","title":"={{ $json.output.title }}","additionalFields":{"assigneeId":"6b77aa35-f843-4ba8-bc9a-a499620dd8b1","description":"={{ $json.output.description }}","priorityId":"={{ $json.output.priority }}","stateId":"45e2cd0d-d519-4659-8081-cb0317470fc8"}},"type":"n8n-nodes-base.linear","typeVersion":1,"position":[-2540,780],"id":"f0dfaecc-2ee3-4892-a4ac-48691a4bdf1f","name":"Create a Bug Report Issue","credentials":{"linearApi":{"id":"oLlLl8Y7joi0qQeN","name":"Linear account"}}},{"parameters":{"teamId":"236508e2-cc35-4005-a5ea-59e7a4823c84","title":"={{ $json.output.title }}","additionalFields":{"assigneeId":"6b77aa35-f843-4ba8-bc9a-a499620dd8b1","description":"={{ $json.output.description }}","priorityId":"={{ $json.output.priority }}","stateId":"45e2cd0d-d519-4659-8081-cb0317470fc8"}},"type":"n8n-nodes-base.linear","typeVersion":1,"position":[-2540,320],"id":"f85ec2d0-a35f-4ad5-9b4d-06e13787c701","name":"Create a Feature Request Issue","credentials":{"linearApi":{"id":"oLlLl8Y7joi0qQeN","name":"Linear account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"c9d36ab8-d367-42ad-8edc-0eb21e4e4011","leftValue":"={{ $json.body.data.item.source.type }}","rightValue":"email","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[-4060,180],"id":"72a4d61c-4428-41f1-ba70-1e74f7f30826","name":"Is From Email"},{"parameters":{"content":"Filtering tickets coming from email. \n\nBecause tickets coming from Intercom chatbot typically have an option button copy as input in this conversation.created webhook. Not very useful for automation.\n\nWill try to find a fix.","height":200,"width":260},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-4140,320],"id":"aeb11599-d913-498b-9d1b-fd7a52844078","name":"Sticky Note"},{"parameters":{"select":"channel","channelId":{"__rl":true,"value":"C089S69RXMX","mode":"list","cachedResultName":"customer-support"},"text":"={{ $json.output.message }}","otherOptions":{"includeLinkToWorkflow":false,"botProfile":{"imageValues":{"profilePhotoType":"emoji","icon_emoji":"🤖"}},"unfurl_links":false}},"type":"n8n-nodes-base.slack","typeVersion":2.3,"position":[-1700,780],"id":"580d399c-9d27-495c-b2b7-81d41bd901a1","name":"Send a message","webhookId":"d2d68bcb-b36f-45f3-a7f9-88d57c0fc55f","credentials":{"slackApi":{"id":"VCMA5QZV1bd6hHV2","name":"Slack account for support workflow"}}},{"parameters":{"promptType":"define","text":"=You are an AI assistant that converts user-submitted bug report emails into concise Slack updates for engineers.\n\nSummarize the bug in 2–3 sentences, focusing only on the key problem and impact.\n\nThen, post a short Slack message with:\n  1. Bug title – 5–8 words.\n  2. One-line summary – What’s happening & impact.\n  3. Reporter – User name or email.\n  4. Link to Linear issue – Use this format: Linear: [ISSUE_URL]\n\nKeep it brief, professional, and ready for quick scanning by engineers.\n\n**User Data:**\n-  email:{{ $('Get Conversation Info').item.json.email }} \n-  name: {{ $('Get Conversation Info').item.json.name }}\n-  id: {{ $('Get Conversation Info').item.json.conversation_id }}\n-  subject: {{ $('Get Conversation Info').item.json.subject }}\n-  body: {{ $('Get Conversation Info').item.json.body }}\n-  linear link: https://linear.app/meshy/issue/{{ $json.identifier }}\n\nOutput only the Slack message.\n\nReturn the content in the following JSON format:\n\n{\n  \"message\": \"\n[Bug Report] {bug title}\n{one-line summary}\nUser: {name} [{email}]\nPriority: Urgent | High | Medium | Low\nLinear: {link}\n\"\n}","hasOutputParser":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[-2060,780],"id":"7fdaf649-efc7-4fc6-afea-19cb8bb4bad2","name":"Bug Report Slack Message Writer1"},{"parameters":{"jsonSchemaExample":"{\n  \"message\": \"[Bug Report] Checkout button unresponsive on Safari\\nClicking ‘Pay Now’ on Safari 17.5 (macOS 14.5) does nothing, blocking checkout for some users.\\nUser: Ava Patel [ava.patel@example.com]\\nPriority: High\\nLinear: https://linear.app/meshy/issue/MES-1234\"\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[-2120,980],"id":"d87a62f8-d761-48ce-91df-8d874d9b79fd","name":"Bug Report Slack Message Output Parser"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"18768fbf-40fa-4b46-82f2-f989a05f9b7e","leftValue":"={{ $json.priority }}","rightValue":1,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[-2300,780],"id":"f1e3ab30-9e25-49aa-ade1-55b4bb346280","name":"Is Urgent Bug"}],"connections":{"Intercom Webhook":{"main":[[{"node":"Webhook Topic Dispatch","type":"main","index":0}]]},"Webhook Topic Dispatch":{"main":[[{"node":"Is From Email","type":"main","index":0}],[]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Intent Classifier","type":"ai_languageModel","index":0},{"node":"Feature Request Linear Issue Writer","type":"ai_languageModel","index":0},{"node":"Bug Report Linear Issue Writer","type":"ai_languageModel","index":0},{"node":"Bug Report Slack Message Writer1","type":"ai_languageModel","index":0}]]},"Get Conversation Info":{"main":[[{"node":"Intent Classifier","type":"main","index":0}]]},"Intent Classifier":{"main":[[{"node":"Switch Intent","type":"main","index":0}]]},"Get All Tags from Intercom":{"main":[[{"node":"Get Matching Tag ID","type":"main","index":0}]]},"Switch Intent":{"main":[[{"node":"Get All Tags from Intercom","type":"main","index":0}],[{"node":"Get All Tags from Intercom","type":"main","index":0}],[{"node":"Get All Tags from Intercom","type":"main","index":0}],[{"node":"Get All Tags from Intercom","type":"main","index":0}],[{"node":"Get All Tags from Intercom","type":"main","index":0}],[{"node":"Get All Tags from Intercom","type":"main","index":0},{"node":"Feature Request Linear Issue Writer","type":"main","index":0}],[{"node":"Get All Tags from Intercom","type":"main","index":0},{"node":"Bug Report Linear Issue Writer","type":"main","index":0}],[]]},"Get Matching Tag ID":{"main":[[{"node":"Add Tag to Conversation","type":"main","index":0}]]},"Feature Request Linear Issue Writer":{"main":[[{"node":"Create a Feature Request Issue","type":"main","index":0}]]},"Intent Output Parser":{"ai_outputParser":[[{"node":"Intent Classifier","type":"ai_outputParser","index":0}]]},"Feature Request Linear Issue Output Parser":{"ai_outputParser":[[{"node":"Feature Request Linear Issue Writer","type":"ai_outputParser","index":0}]]},"Bug Report Linear Issue Writer":{"main":[[{"node":"Create a Bug Report Issue","type":"main","index":0}]]},"Bug Report Linear Issue Output Parser":{"ai_outputParser":[[{"node":"Bug Report Linear Issue Writer","type":"ai_outputParser","index":0}]]},"Is From Email":{"main":[[{"node":"Get Conversation Info","type":"main","index":0}]]},"Create a Bug Report Issue":{"main":[[{"node":"Is Urgent Bug","type":"main","index":0}]]},"Bug Report Slack Message Writer1":{"main":[[{"node":"Send a message","type":"main","index":0}]]},"Bug Report Slack Message Output Parser":{"ai_outputParser":[[{"node":"Bug Report Slack Message Writer1","type":"ai_outputParser","index":0}]]},"Is Urgent Bug":{"main":[[{"node":"Bug Report Slack Message Writer1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"ee3fa641-8e97-4ba1-9e4b-f201a8f67a04","triggerCount":1,"shared":[{"createdAt":"2025-07-18T02:26:25.999Z","updatedAt":"2025-07-18T02:26:25.999Z","role":"workflow:owner","workflowId":"xLHicirK0u38a0US","projectId":"jA0J1Ydudz3t9Nad","project":{"createdAt":"2025-06-26T09:34:51.351Z","updatedAt":"2025-06-26T09:37:01.737Z","id":"jA0J1Ydudz3t9Nad","name":"Meshy AI <cloud-admins@meshy.ai>","type":"personal","icon":null,"description":null,"projectRelations":[{"createdAt":"2025-06-26T09:34:51.351Z","updatedAt":"2025-06-26T09:34:51.351Z","role":"project:personalOwner","userId":"35043bb3-1b78-4ddc-8eb1-4498c37e073f","projectId":"jA0J1Ydudz3t9Nad","user":{"createdAt":"2025-06-26T09:34:50.409Z","updatedAt":"2025-07-08T09:36:34.003Z","id":"35043bb3-1b78-4ddc-8eb1-4498c37e073f","email":"cloud-admins@meshy.ai","firstName":"Meshy","lastName":"AI","personalizationAnswers":null,"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"5wCVdXpCNTB9yu66","userActivatedAt":1751967393973},"role":"global:owner","disabled":false,"mfaEnabled":false,"isPending":false}}]}}],"tags":[{"createdAt":"2025-07-29T08:37:45.849Z","updatedAt":"2025-07-29T08:37:45.849Z","id":"wMKqjQgGSvIDSyh5","name":"Support"}]}