Meshy Support Workflow/20250731_2025-07-29T08:38:07.502Z.json
{"createdAt":"2025-07-18T02:26:25.999Z","updatedAt":"2025-07-29T08:38:07.502Z","id":"xLHicirK0u38a0US","name":"Meshy Support Workflow","active":false,"isArchived":false,"nodes":[{"parameters":{"format":"resolved","options":{"forceReconnect":5}},"type":"n8n-nodes-base.emailReadImap","typeVersion":2,"position":[-3320,780],"id":"a5afe7d9-d41e-44f7-a5b0-32138819b05d","name":"Email Trigger (IMAP)"},{"parameters":{"assignments":{"assignments":[{"id":"141fdb4b-7743-4ced-9bde-2da22377eddc","name":"customer_id","value":"={{ $('Get Stripe Customer').item.json.data[0].id }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1860,60],"id":"7a49fd60-7df4-4499-9c30-253d7e5b2fdb","name":"Get Customer ID"},{"parameters":{"jsCode":"let successPayments = [];\n\nfor (const item of $input.all()) {\n  // Assume item.json has the structure { payments: [...] }\n  const payments = item.json.payments || [];\n  \n  for (const payment of payments) {\n    if (payment.status === \"succeeded\") {\n      successPayments.push(payment);\n    }\n  }\n}\n\n\nreturn { successPayments: successPayments};\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1200,60],"id":"aa8f437d-444f-47cc-b9ed-ae2c7d8cc01f","name":"Filter All Successful Payments"},{"parameters":{"assignments":{"assignments":[{"id":"8638f58d-a917-4a1a-9b57-23df36ba6d75","name":"email","value":"={{ $json.from.value[0].address }}","type":"string"},{"id":"99697ea7-caa1-4e40-b560-9d7e9d3bb4e0","name":"name","value":"={{ $json.from.value[0].name }}","type":"string"},{"id":"23d64ff0-a20a-498a-82a3-f82fffc417fa","name":"subject","value":"={{ $json.subject }}","type":"string"},{"id":"6629906d-283d-4e67-9051-bfcc48bc9c8a","name":"date","value":"={{ $json.date }}","type":"string"},{"id":"42270ac0-5cec-46d6-9a3e-99f2e4cedf4e","name":"body","value":"={{ $json.text }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-3100,780],"id":"0a5108de-29e3-43f9-bb6b-bcb1828562cc","name":"Get Email Content"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $('Intent Classifier').item.json.message.content.taskCategory }}","rightValue":"Refund Request","operator":{"type":"string","operation":"equals"},"id":"a24f5be9-1e68-4bfd-87d8-bde392429a55"}],"combinator":"and"},"renameOutput":true,"outputKey":"Refund Request"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"fa3e4907-e568-45d3-a2df-aa16e2bdfb3f","leftValue":"={{ $('Intent Classifier').item.json.message.content.taskCategory }}","rightValue":"Product Feedback","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Product Feedback"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"27fe3e76-16b6-4e68-b664-f26a05ea4ebe","leftValue":"={{ $('Intent Classifier').item.json.message.content.taskCategory }}","rightValue":"Feature Request","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Feature Request"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"be7e62a5-f61d-4fe5-8fa9-ec1c8b4f1d6f","leftValue":"={{ $('Intent Classifier').item.json.message.content.taskCategory }}","rightValue":"Bug Report","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Bug Report"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"077c5cfd-1e70-4ea2-a4bf-0c0f14c77457","leftValue":"={{ $('Intent Classifier').item.json.message.content.taskCategory }}","rightValue":"Other","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Other"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-2520,740],"id":"5024c924-52a0-4ab3-9122-51d72f43d176","name":"Decide Intent"},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4.1","mode":"list","cachedResultName":"GPT-4.1"},"messages":{"values":[{"content":"=You are a support email classifier. Given the following customer email, classify it into one of these categories: \n- Refund Request\n- Product Feedback\n- Feature Request\n- Bug Report\n- Other\n\nReturn the output as a JSON object with these fields:\n{\n  \"taskCategory\": string,\n  \"confidence\": number (0 to 1),\n  \"suggestedAction\": string,\n  \"summary\": string\n}\n\nEmail:\n\"\"\"\n- Subject: {{ $('Get Email Content').item.json.subject }}\n- Body:\n{{ $('Get Email Content').item.json.body }}\n\"\"\" "}]},"jsonOutput":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-2880,780],"id":"4eea63d2-0996-45de-b488-c0569114e101","name":"Intent Classifier"},{"parameters":{"url":"https://api.stripe.com/v1/payment_intents","authentication":"predefinedCredentialType","nodeCredentialType":"stripeApi","sendQuery":true,"queryParameters":{"parameters":[{"name":"customer","value":"={{ $('Get Customer ID').item.json.customer_id }}"},{"name":"limit","value":"100"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1640,60],"id":"7deca5b2-f6fb-4597-8aec-077b6851ca7f","name":"Get Payment Intents"},{"parameters":{"jsCode":"function transformPaymentData(inputJson) {\n  // Parse JSON string input\n  const dataObj = (typeof inputJson === 'string')\n    ? JSON.parse(inputJson)\n    : inputJson;\n\n  // Extract the payment intents array\n  const paymentIntents = Array.isArray(dataObj) && dataObj.length > 0\n    ? dataObj[0].data || []\n    : dataObj.data || [];\n\n  // Construct simplified payments array\n  const payments = paymentIntents.map(intent => ({\n    payment_intent_id: intent.id,\n    amount: intent.amount,\n    currency: intent.currency,\n    status: intent.status,\n    createdAt: new Date(intent.created * 1000),\n  }));\n\n  return { payments };\n}\n\nlet payments = transformPaymentData($input.all()[0].json);\n\nreturn payments;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1420,60],"id":"062ab443-3590-42a5-ada3-ad7a8a1d7997","name":"Format All Payments"},{"parameters":{"modelId":{"__rl":true,"value":"chatgpt-4o-latest","mode":"list","cachedResultName":"CHATGPT-4O-LATEST"},"messages":{"values":[{"content":"=From all the payments data of this customer, find the more related one to this support email based on time:\n\n[Support Email]\n- date: {{ $('Get Email Content').item.json.date }}\n\n[Payments Data]\n{{ $('Filter All Successful Payments').item.json.toJsonString() }}\n\nReturn the most related payment id in json:\n{\n  \"payment\": {payment}\n}"}]},"jsonOutput":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-980,60],"id":"67024432-d484-4eff-994b-b419f3b8bc1d","name":"Identify the payment to be refunded"},{"parameters":{"method":"POST","url":"https://api.stripe.com/v1/refunds","authentication":"predefinedCredentialType","nodeCredentialType":"stripeApi","sendQuery":true,"queryParameters":{"parameters":[{"name":"amount","value":"={{ $json.message.content.payment.amount }}"},{"name":"payment_intent","value":"={{ $json.message.content.payment.payment_intent_id }}"}]},"options":{"response":{"response":{"fullResponse":true,"neverError":true}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-520,60],"id":"fe295bd9-9a40-4f1f-ad80-f0789e68eabd","name":"Refund Payment","alwaysOutputData":false},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"293b9933-9b0f-4b0a-b57d-3197e33e2b55","leftValue":"={{ $json.statusCode }}","rightValue":200,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-220,60],"id":"12eeee5e-3b4f-4942-9d37-b4c2d359cd0c","name":"If"},{"parameters":{"modelId":{"__rl":true,"value":"chatgpt-4o-latest","mode":"list","cachedResultName":"CHATGPT-4O-LATEST"},"messages":{"values":[{"content":"=You are writing an internal notification email for BookTranslator (www.booktranslator.app), an AI-powered book translation SaaS platform that translates entire EPUB and PDF books into 75+ languages in minutes.\n\nWrite a professional, clear, and concise notification email to inform the support team that a refund workflow execution has failed.\n\n**Context & Brand Voice:**\n-  Reflects BookTranslator’s commitment to reliability and quality\n-  Maintains a professional but approachable tone consistent with a modern SaaS platform\n-  Clearly states the failure and any relevant error details if available\n-  Encourages timely follow-up to resolve the issue\n\n**Email Requirements:**\n-  Include the specific workflow or task that failed (refund processing)\n-  Mention the date/time of the failure if available\n-  Express the urgency and importance of resolving the issue promptly\n-  Provide any relevant error messages or logs if available\n-  Include contact information or next steps for the support team\n\n**Template Structure:**\n-  Professional greeting\n-  Clear statement of the failure\n-  Brief explanation or error details\n-  Call to action for investigation or resolution\n-  Professional closing\n\nThe email should be approximately 3-5 sentences, concise and actionable.\n\n**User Email:**\n- email:  {{ $('Get Email Content').item.json.email }}\n- name: {{ $('Get Email Content').item.json.name }}\n- date: {{ $('Get Email Content').item.json.date }}\n- subject: {{ $('Get Email Content').item.json.subject }}\n- body: {{ $('Get Email Content').item.json.body }}\n\n**Refund Response**\n{{ $('If').item.json.toJsonString() }}\n\nReturn the content in the following JSON format:\n{\n  \"email\": \"chenyongarch@gmail.com\",\n  \"subject\": \"[BookTranslator] Refund Workflow Execution Failed\",\n  \"body\": {body}\n}\n"}]},"jsonOutput":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[0,200],"id":"bd3a0a8c-2407-4bf8-97f3-808d505a4ddb","name":"Write Refund Failed Notification Email"},{"parameters":{"modelId":{"__rl":true,"value":"chatgpt-4o-latest","mode":"list","cachedResultName":"CHATGPT-4O-LATEST"},"messages":{"values":[{"content":"=You are writing a customer support email for BookTranslator(www.booktranslator.app), an AI-powered book translation SaaS platform that translates entire EPUB and PDF books into 75+ languages in minutes. The company uses advanced AI technology to provide fast, accurate translations while honoring the author's original intent.\n\nWrite a professional, empathetic refund confirmation email that:\n\n**Context & Brand Voice:**\n- Reflects BookTranslator's focus on efficiency and quality (translations completed in just one minute)\n- Acknowledges the technical nature of the service (AI-powered, ChatGPT API-based)\n- Maintains a professional but approachable tone consistent with a modern SaaS platform\n\n**Email Requirements:**\n- Be based on user's request email\n- Confirm the refund has been processed for their book translation task\n- Reference the specific service (book translation)\n- Express genuine apology for any inconvenience\n- Briefly mention the company's commitment to quality translation services\n- Include the support email (support@booktranslator.app) for further assistance\n- Keep the tone concise and professional, matching the efficiency of the translation service\n\n**Template Structure:**\n- Professional greeting\n- Clear refund confirmation\n- Sincere apology\n- Brief reassurance about service quality\n- Contact information for further support\n- Professional closing\n\nThe email should be approximately 3-4 sentences. Make sure it sounds like a real human being instead of an AI bot.\n\n**User Email:**\n- email:  {{ $('Get Email Content').item.json.email }}\n- name: {{ $('Get Email Content').item.json.name }}\n- date: {{ $('Get Email Content').item.json.date }}\n- subject: {{ $('Get Email Content').item.json.subject }}\n- body: {{ $('Get Email Content').item.json.body }}\n\nReturn the content in the following json format:\n{\n  \"email\": {{ $('Get Email Content').item.json.email }},\n  \"subject\": \"[BookTranslator] Refund Successfully Issued\",\n  \"body\": {body},\n}"}]},"jsonOutput":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[0,0],"id":"40548828-1487-4441-9705-43c7fee1c2d2","name":"Write Refund Request Email"},{"parameters":{"teamId":"f8151600-fb43-4253-b525-d780000424d8","title":"={{ $json.message.content.title }}","additionalFields":{"assigneeId":"bece4cb7-28c2-473f-8ea0-5bbae416f2e7","description":"={{ $json.message.content.description }}","priorityId":"={{ $json.message.content.priority }}"}},"type":"n8n-nodes-base.linear","typeVersion":1,"position":[-220,760],"id":"8d6a7ed0-60f8-4c8d-bd74-0c5d17454b38","name":"Linear"},{"parameters":{"modelId":{"__rl":true,"value":"chatgpt-4o-latest","mode":"list","cachedResultName":"CHATGPT-4O-LATEST"},"messages":{"values":[{"content":"=You are writing a product feedback issue for BookTranslator (www.booktranslator.app), an AI-powered book translation SaaS platform that translates entire EPUB and PDF books into 75+ languages in minutes.\n\nCreate a clear, concise, and well-structured issue description to raise in Linear for the product team based on a user’s suggestion.\n\n**Context & Brand Voice:**\n-  Reflects BookTranslator’s commitment to user-centric innovation and quality\n-  Maintains a professional and actionable tone suitable for an internal product issue\n-  Captures the essence and value of the user feedback\n-  Provides enough detail to help the product team understand and prioritize the suggestion\n\n**Issue Requirements:**\n-  Title summarizing the suggestion clearly and briefly\n-  Detailed description including:\n  - The user’s suggestion\n  - Why it matters or how it could improve the product\n  - Any relevant user information (name, email, date)\n-  Optional: Suggested next steps or considerations for implementation\n\n**Template Structure:**\n-  Issue Title\n-  Description section with user suggestion and context\n-  User info section\n-  Impact or benefit statement\n-  Optional next steps or notes\n\nThe issue should be concise but informative, suitable for tracking and prioritization in Linear.\n\n**User Data:**\n-  email: {{ $('Get Email Content').item.json.email }}\n-  name: {{ $('Get Email Content').item.json.name }}\n-  date: {{ $('Get Email Content').item.json.date }}\n-  subject: {{ $('Get Email Content').item.json.subject }}\n-  body: {{ $('Get Email Content').item.json.body }}\n\nReturn the content in the following JSON format:\n\n{\n  \"title\": \"[Product Feedback] {short summary of the suggestion}\",\n  \"priority\": {1 for Urgent | 2 for High | 3 for Medium | 4 for Low, return number}\n  \"description\": \"\nUser Suggestion:\n{user suggestion}\n\nUser Info:\n-  Name: {name}\n-  Email: {email}\n-  Date: {date}\n\nImpact:\n{brief statement on why this feedback is valuable or how it could improve BookTranslator}\n\nNext Steps:\n{optional suggestions for product team}\n\nOriginal Subject and Body:\n{original subject}\n{original body}\n\"\n}"}]},"jsonOutput":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-600,860],"id":"d5a34255-c812-41e2-9739-75b2d9897a7c","name":"Write Linear Issue"},{"parameters":{"modelId":{"__rl":true,"value":"chatgpt-4o-latest","mode":"list","cachedResultName":"CHATGPT-4O-LATEST"},"messages":{"values":[{"content":"=You are writing a product feedback & feature request & bug report email for BookTranslator (www.booktranslator.app), an AI-powered book translation SaaS platform that translates entire EPUB and PDF books into 75+ languages in minutes.\n\nWrite a warm, professional, and appreciative email to thank the user for their suggestion.\n\n**Context & Brand Voice:**\n-  Reflects BookTranslator’s commitment to user-centric innovation and quality\n-  Maintains a friendly, approachable, and professional tone consistent with a modern SaaS platform\n-  Expresses genuine gratitude for the user’s input\n-  Encourages continued feedback, request or report\n\n**Email Requirements:**\n-  Thank the user sincerely for their suggestion\n-  Acknowledge the value of their feedback in helping improve the product\n-  Briefly mention the company’s dedication to continuous improvement\n-  Invite the user to reach out with any further feedback or findings\n-  Include support contact information (support@booktranslator.app)\n-  Keep the tone concise, positive, and professional\n\n**Template Structure:**\n-  Write the email based on user's feedback type\n-  Professional greeting addressing the user by name\n-  Thank you message for the suggestion\n-  Positive acknowledgment of the feedback’s importance\n-  Invitation for further engagement\n-  Support contact details\n-  Professional closing\n\n**Feedback Type:**\n{{ $('Decide Intent').item.json.message.content.taskCategory }}\nThe email should be approximately 3-4 sentences and sound natural and human.\n\n**User Email:**\n- email:  {{ $('Get Email Content').item.json.email }}\n- name: {{ $('Get Email Content').item.json.name }}\n- date: {{ $('Get Email Content').item.json.date }}\n- subject: {{ $('Get Email Content').item.json.subject }}\n- body: {{ $('Get Email Content').item.json.body }}\n\nReturn the content in the following JSON format:\n{\n  \"email\": {{ $('Get Email Content').item.json.email }}\n  \"subject\": \"[BookTranslator] {title based on user email}\",\n  \"body\": {body}\n}\n"}]},"jsonOutput":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[0,600],"id":"8cb56fbf-711c-4693-9aa5-ac7e72a9af3a","name":"Write User Feedback Email"},{"parameters":{"modelId":{"__rl":true,"value":"chatgpt-4o-latest","mode":"list","cachedResultName":"CHATGPT-4O-LATEST"},"messages":{"values":[{"content":"=You are writing an internal notification email for BookTranslator (www.booktranslator.app), an AI-powered book translation SaaS platform.\n\nWrite a clear, concise, and professional email to notify the support team about an unknown or unsupported user support scenario that the current workflow could not handle.\n\n**Context & Brand Voice:**\n-  Reflects BookTranslator’s commitment to continuous improvement and reliability\n-  Maintains a professional and actionable tone\n-  Clearly states that the scenario is unrecognized and requires attention\n\n**Email Requirements:**\n-  Mention that an unknown support scenario was encountered\n-  Include any relevant details from the user’s message or context\n-  Request review and addition of new actions to the workflow\n-  Provide contact information for follow-up if needed\n\n**Template Structure:**\n-  Professional greeting\n-  Clear statement about the unknown scenario\n-  Summary or excerpt of the user’s message\n-  Call to action for workflow update\n-  Professional closing\n\n**User Email:**\n- email:  {{ $('Get Email Content').item.json.email }}\n- name: {{ $('Get Email Content').item.json.name }}\n- date: {{ $('Get Email Content').item.json.date }}\n- subject: {{ $('Get Email Content').item.json.subject }}\n- body: {{ $('Get Email Content').item.json.body }}\n\nReturn the content in the following JSON format:\n{\n  \"email\": \"chenyongarch@gmail.com\",\n  \"subject\": \"[BookTranslator] Unknown Support Request Detected\",\n  \"body\": {body}\n}\n"}]},"jsonOutput":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[0,1200],"id":"7131c83a-3efb-4b33-af1c-b5a55739994f","name":"Write Other Request Notification Email"},{"parameters":{"fromEmail":"support@booktranslator.app","toEmail":"={{ $json.message.content.email }}","subject":"={{ $json.message.content.subject }}","emailFormat":"text","text":"={{ $json.message.content.body }}","options":{"appendAttribution":false}},"type":"n8n-nodes-base.emailSend","typeVersion":2.1,"position":[380,400],"id":"9ab6c42e-9835-4e0b-bbcb-f5657717268f","name":"Send Email to Customer","webhookId":"9b8da8dc-87cf-4191-918a-e66b8f9ee0a9"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"487cf951-d70a-42e9-b3a5-4b826df6fd67","leftValue":"={{ $json.message.content.priority }}","rightValue":1,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-240,960],"id":"f00dab71-4c45-4a8a-81e5-171e6a73b9cb","name":"If1"},{"parameters":{"modelId":{"__rl":true,"value":"chatgpt-4o-latest","mode":"list","cachedResultName":"CHATGPT-4O-LATEST"},"messages":{"values":[{"content":"=You are writing an urgent internal notification email for BookTranslator (www.booktranslator.app), an AI-powered book translation SaaS platform.\n\nWrite a clear, concise, and professional email to urgently notify the internal admin team about an important customer feedback or support scenario that the current workflow could not handle.\n\n**Context & Brand Voice:**\n-  Reflects BookTranslator’s commitment to continuous improvement and reliability\n-  Maintains a professional, urgent, and actionable tone\n-  Clearly states that the scenario is critical and requires immediate attention\n\n**Email Requirements:**\n-  Mention that an urgent and unknown customer feedback or support request was encountered\n-  Include relevant details from the user’s message or context\n-  Emphasize the need for immediate review and addition of new actions to the workflow\n-  Provide contact information for follow-up if needed\n\n**Template Structure:**\n-  Professional greeting\n-  Clear statement about the urgent unknown scenario\n-  Summary or excerpt of the user’s message\n-  Call to action for immediate workflow update\n-  Professional closing\n\n**User Email:**\n- email:  {{ $('Get Email Content').item.json.email }}\n- name: {{ $('Get Email Content').item.json.name }}\n- date: {{ $('Get Email Content').item.json.date }}\n- subject: {{ $('Get Email Content').item.json.subject }}\n- body: {{ $('Get Email Content').item.json.body }}\n\nReturn the content in the following JSON format:\n{\n  \"email\": \"chenyongarch@gmail.com\",\n  \"subject\": \"[BookTranslator] URGENT: {content based on email}\",\n  \"body\": {body}\n}\n"}]},"jsonOutput":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[0,960],"id":"b940e96d-0648-4867-853d-ef103f0162b3","name":"Write Other Request Notification Email1"},{"parameters":{"fromEmail":"support@booktranslator.app","toEmail":"=vecpeng@gmail.com","subject":"={{ $json.message.content.subject }}","emailFormat":"text","text":"={{ $json.message.content.body }}","options":{"appendAttribution":false}},"type":"n8n-nodes-base.emailSend","typeVersion":2.1,"position":[380,1060],"id":"68811907-cc2a-4e41-bc1e-fe6a16a54f84","name":"Send Email to Admin - vecpeng","webhookId":"9b8da8dc-87cf-4191-918a-e66b8f9ee0a9"},{"parameters":{"fromEmail":"support@booktranslator.app","toEmail":"=chenyongarch@gmail.com","subject":"={{ $json.message.content.subject }}","emailFormat":"text","text":"={{ $json.message.content.body }}","options":{"appendAttribution":false}},"type":"n8n-nodes-base.emailSend","typeVersion":2.1,"position":[380,840],"id":"02ea89c1-750b-416f-be76-3c81adf1ddb3","name":"Send Email to Admin - dott","webhookId":"9b8da8dc-87cf-4191-918a-e66b8f9ee0a9"},{"parameters":{"documentId":{"__rl":true,"value":"1iA6At7dELZG0Ukt9NZfJ5a0B7cEyZm7q_wb5e9mIWPM","mode":"list","cachedResultName":"BookTranslator Support Email Test Data","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1iA6At7dELZG0Ukt9NZfJ5a0B7cEyZm7q_wb5e9mIWPM/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1iA6At7dELZG0Ukt9NZfJ5a0B7cEyZm7q_wb5e9mIWPM/edit#gid=0"}},"type":"n8n-nodes-base.evaluationTrigger","typeVersion":4.6,"position":[-3320,1460],"id":"a1df3662-1b53-4de8-b891-b8a1e38c182a","name":"When fetching a dataset row","disabled":true},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4.1","mode":"list","cachedResultName":"GPT-4.1"},"messages":{"values":[{"content":"=You are a support email classifier. Given the following customer email, classify it into one of these categories: \n- Refund Request\n- Product Feedback\n- Feature Request\n- Bug Report\n- Other\n\nReturn the output as a JSON object with these fields:\n{\n  \"taskCategory\": string,\n  \"confidence\": number (0 to 1),\n  \"suggestedAction\": string,\n  \"summary\": string\n}\n\nEmail:\n\"\"\"\n- Subject: {{ $json.email_subject }}\n- Body:\n{{ $json.email_body }}\n\"\"\" "}]},"jsonOutput":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-3100,1460],"id":"31f41ee9-d259-4fd9-aeed-3710e570fa57","name":"Intent Classifier1","disabled":true},{"parameters":{"documentId":{"__rl":true,"value":"1iA6At7dELZG0Ukt9NZfJ5a0B7cEyZm7q_wb5e9mIWPM","mode":"list","cachedResultName":"BookTranslator Support Email Test Data","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1iA6At7dELZG0Ukt9NZfJ5a0B7cEyZm7q_wb5e9mIWPM/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1iA6At7dELZG0Ukt9NZfJ5a0B7cEyZm7q_wb5e9mIWPM/edit#gid=0"},"outputs":{"values":[{"outputName":"actual_category","outputValue":"={{ $json.message.content.taskCategory }}"}]}},"type":"n8n-nodes-base.evaluation","typeVersion":4.6,"position":[-2740,1460],"id":"52133810-eca4-41fc-b43c-fa8439746dbd","name":"Evaluation1","disabled":true},{"parameters":{"operation":"setMetrics","metrics":{"assignments":[{"name":"category_match","value":"={{ $('When fetching a dataset row').item.json.category_match.toString().toNumber() }}","type":"number","id":"319d2c52-c995-449b-bfc3-9cf4d9276714"}]}},"type":"n8n-nodes-base.evaluation","typeVersion":4.6,"position":[-2520,1460],"id":"81cecbae-fb3a-4c2f-895e-83f9104f259a","name":"Evaluation2","disabled":true},{"parameters":{"url":"https://api.stripe.com/v1/customers","authentication":"predefinedCredentialType","nodeCredentialType":"stripeApi","sendQuery":true,"queryParameters":{"parameters":[{"name":"email","value":"={{ $('Get Email Content').item.json.email.toLowerCase() }}"},{"name":"limit","value":"100"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-2300,160],"id":"70a505c2-8ce8-46ce-94bb-fe526cd84adf","name":"Get Stripe Customer"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"6d81d1ca-62c9-4d74-bf96-aae3b4d57d7d","leftValue":"={{ $('Get Stripe Customer').item.json.data.length }}","rightValue":0,"operator":{"type":"number","operation":"gt"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-2080,160],"id":"878aaa79-c3bd-415e-8bee-5334cab1235e","name":"Does Email Exist"},{"parameters":{"modelId":{"__rl":true,"value":"chatgpt-4o-latest","mode":"list","cachedResultName":"CHATGPT-4O-LATEST"},"messages":{"values":[{"content":"=You are writing a customer support email for BookTranslator (www.booktranslator.app), an AI-powered book translation SaaS platform that translates entire EPUB and PDF books into 75+ languages in minutes. The company uses advanced AI technology to provide fast, accurate translations while honoring the author's original intent.\nWrite a professional, empathetic customer support email that:\nContext & Brand Voice:\n\t•\tReflects BookTranslator's focus on efficiency and quality (translations completed in just one minute) \t•\tAcknowledges the technical nature of the service (AI-powered, ChatGPT API-based) \t•\tMaintains a professional but approachable tone consistent with a modern SaaS platform\nEmail Requirements:\n\t•\tBe based on user's request email \t•\tClearly state that you are unable to locate the payment using the email address from their previous message \t•\tPolitely request the email address used for their payment, so you can process their refund for the book translation service \t•\tExpress genuine apology for any inconvenience \t•\tBriefly mention the company's commitment to quality translation services \t•\tInclude the support email (support@booktranslator.app) for further assistance \t•\tKeep the tone concise and professional, matching the efficiency of the translation service\nTemplate Structure:\n\t•\tProfessional greeting \t•\tClear request for the payment email address \t•\tSincere apology \t•\tBrief reassurance about service quality \t•\tContact information for further support \t•\tProfessional closing\nThe email should be approximately 3-4 sentences. Make sure it sounds like a real human being instead of an AI bot.\nUser Email:\n\t•\temail:  {{ $('Get Email Content').item.json.email }} \t•\tname: {{ $('Get Email Content').item.json.name }} \t•\tdate: {{ $('Get Email Content').item.json.date }} \t•\tsubject: {{ $('Get Email Content').item.json.subject }} \t•\tbody: {{ $('Get Email Content').item.json.body }}\nReturn the content in the following json format:\n {\n  \"email\": {{ $('Get Email Content').item.json.email }},\n  \"subject\": \"[BookTranslator] Additional Payment Information Needed\",\n  \"body\": {body}\n}"}]},"jsonOutput":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[0,400],"id":"980a8b33-6c1b-4162-af89-bf23824b1640","name":"Write Asking Email Email"}],"connections":{"Email Trigger (IMAP)":{"main":[[{"node":"Get Email Content","type":"main","index":0}]]},"Get Customer ID":{"main":[[{"node":"Get Payment Intents","type":"main","index":0}]]},"Filter All Successful Payments":{"main":[[{"node":"Identify the payment to be refunded","type":"main","index":0}]]},"Get Email Content":{"main":[[{"node":"Intent Classifier","type":"main","index":0}]]},"Decide Intent":{"main":[[{"node":"Get Stripe Customer","type":"main","index":0}],[{"node":"Write User Feedback Email","type":"main","index":0},{"node":"Write Linear Issue","type":"main","index":0}],[{"node":"Write Linear Issue","type":"main","index":0},{"node":"Write User Feedback Email","type":"main","index":0}],[{"node":"Write Linear Issue","type":"main","index":0},{"node":"Write User Feedback Email","type":"main","index":0}],[{"node":"Write Other Request Notification Email","type":"main","index":0}]]},"Intent Classifier":{"main":[[{"node":"Decide Intent","type":"main","index":0}]]},"Get Payment Intents":{"main":[[{"node":"Format All Payments","type":"main","index":0}]]},"Format All Payments":{"main":[[{"node":"Filter All Successful Payments","type":"main","index":0}]]},"Identify the payment to be refunded":{"main":[[{"node":"Refund Payment","type":"main","index":0}]]},"Refund Payment":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"Write Refund Request Email","type":"main","index":0}],[{"node":"Write Refund Failed Notification Email","type":"main","index":0}]]},"Write Refund Failed Notification Email":{"main":[[{"node":"Send Email to Admin - dott","type":"main","index":0},{"node":"Send Email to Admin - vecpeng","type":"main","index":0}]]},"Write Refund Request Email":{"main":[[{"node":"Send Email to Customer","type":"main","index":0}]]},"Write Linear Issue":{"main":[[{"node":"Linear","type":"main","index":0},{"node":"If1","type":"main","index":0}]]},"Write User Feedback Email":{"main":[[{"node":"Send Email to Customer","type":"main","index":0}]]},"Write Other Request Notification Email":{"main":[[{"node":"Send Email to Admin - dott","type":"main","index":0},{"node":"Send Email to Admin - vecpeng","type":"main","index":0}]]},"If1":{"main":[[{"node":"Write Other Request Notification Email1","type":"main","index":0}]]},"Write Other Request Notification Email1":{"main":[[{"node":"Send Email to Admin - dott","type":"main","index":0},{"node":"Send Email to Admin - vecpeng","type":"main","index":0}]]},"When fetching a dataset row":{"main":[[{"node":"Intent Classifier1","type":"main","index":0}]]},"Intent Classifier1":{"main":[[{"node":"Evaluation1","type":"main","index":0}]]},"Evaluation1":{"main":[[{"node":"Evaluation2","type":"main","index":0}]]},"Get Stripe Customer":{"main":[[{"node":"Does Email Exist","type":"main","index":0}]]},"Does Email Exist":{"main":[[{"node":"Get Customer ID","type":"main","index":0}],[{"node":"Write Asking Email Email","type":"main","index":0}]]},"Write Asking Email Email":{"main":[[{"node":"Send Email to Customer","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"2a401120-c67b-4917-b461-88f328a3a82f","triggerCount":0,"shared":[{"createdAt":"2025-07-18T02:26:25.999Z","updatedAt":"2025-07-18T02:26:25.999Z","role":"workflow:owner","workflowId":"xLHicirK0u38a0US","projectId":"jA0J1Ydudz3t9Nad","project":{"createdAt":"2025-06-26T09:34:51.351Z","updatedAt":"2025-06-26T09:37:01.737Z","id":"jA0J1Ydudz3t9Nad","name":"Meshy AI <cloud-admins@meshy.ai>","type":"personal","icon":null,"description":null,"projectRelations":[{"createdAt":"2025-06-26T09:34:51.351Z","updatedAt":"2025-06-26T09:34:51.351Z","role":"project:personalOwner","userId":"35043bb3-1b78-4ddc-8eb1-4498c37e073f","projectId":"jA0J1Ydudz3t9Nad","user":{"createdAt":"2025-06-26T09:34:50.409Z","updatedAt":"2025-07-08T09:36:34.003Z","id":"35043bb3-1b78-4ddc-8eb1-4498c37e073f","email":"cloud-admins@meshy.ai","firstName":"Meshy","lastName":"AI","personalizationAnswers":null,"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"5wCVdXpCNTB9yu66","userActivatedAt":1751967393973},"role":"global:owner","disabled":false,"mfaEnabled":false,"isPending":false}}]}}],"tags":[{"createdAt":"2025-07-29T08:37:45.849Z","updatedAt":"2025-07-29T08:37:45.849Z","id":"wMKqjQgGSvIDSyh5","name":"Support"}]}