[Production] Meshy Deployment/20250820_2025-08-11T06:13:46.507Z.json
{"createdAt":"2025-07-07T02:09:53.880Z","updatedAt":"2025-08-11T06:13:46.507Z","id":"SfpC2kRoafAjlnLe","name":"[Production] Meshy Deployment","active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"deploy","authentication":"basicAuth","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-1860,-100],"id":"392fda2e-3dce-48ef-9a8e-730228f2b66c","name":"Deploy Webhook","webhookId":"a8a04d14-e57f-4408-89fe-e208472f8e7c","credentials":{"httpBasicAuth":{"id":"zCyiNApZdOriY4aO","name":"basic-auth"}}},{"parameters":{"jsCode":"return [\n    {\n        json: {\n            channel_id: 'C096JMM6PJ4',\n            cluster: 'z1',\n            services: [\n                'meshy',\n                'meshyd-worker',\n            ],\n        }\n    },\n    {\n        json: {\n            channel_id: 'C096JMM6PJ4',\n            cluster: 'zillion2',\n            services: [\n                'meshy',\n                'meshyd-worker',\n            ],\n        }\n    },\n    {\n        json: {\n            channel_id: 'C096JMM6PJ4',\n            cluster: 'aws',\n            services: [\n                'meshy',\n                'meshyd-cron',\n                'meshyd',\n                'meshy-webapp',\n                'mechoux',\n                'dcc-bpy',\n                'dcc-houdini',\n            ],\n        }\n    },\n    {\n        json: {\n            channel_id: 'C096JMM6PJ4',\n            cluster: 'aws-2',\n            services: [\n                'meshy',\n                'meshyd',\n                'meshy-webapp',\n                'mechoux',\n                'dcc-bpy',\n                'dcc-houdini',\n            ]\n        }\n    }\n]"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1640,-100],"id":"4ced5c6f-73f7-41b4-8fd4-3c8aea18847b","name":"meshy-release-config"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-1420,-100],"id":"344813ef-ae7b-4985-a94b-9abf5a612deb","name":"loop-clusters"},{"parameters":{"workflowId":{"__rl":true,"value":"5wCVdXpCNTB9yu66","mode":"list","cachedResultName":"deploy-specific-cluster"},"workflowInputs":{"mappingMode":"defineBelow","value":{"cluster":"={{ $json.cluster }}","channel_id":"={{ $json.channel_id }}","services":"={{ $json.services }}"},"matchingColumns":[],"schema":[{"id":"channel_id","displayName":"channel_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"cluster","displayName":"cluster","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"services","displayName":"services","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"array","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[-1160,-20],"id":"fbea7a0c-0c28-4e2a-a414-8463a8f2269d","name":"deploy-specific-cluster"}],"connections":{"Deploy Webhook":{"main":[[{"node":"meshy-release-config","type":"main","index":0}]]},"meshy-release-config":{"main":[[{"node":"loop-clusters","type":"main","index":0}]]},"loop-clusters":{"main":[[],[{"node":"deploy-specific-cluster","type":"main","index":0}]]},"deploy-specific-cluster":{"main":[[{"node":"loop-clusters","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"9914afd5-c5c1-43da-9113-5369cce8d249","triggerCount":1,"shared":[{"createdAt":"2025-07-07T02:09:53.880Z","updatedAt":"2025-07-07T02:09:53.880Z","role":"workflow:owner","workflowId":"SfpC2kRoafAjlnLe","projectId":"jA0J1Ydudz3t9Nad","project":{"createdAt":"2025-06-26T09:34:51.351Z","updatedAt":"2025-06-26T09:37:01.737Z","id":"jA0J1Ydudz3t9Nad","name":"Meshy AI <cloud-admins@meshy.ai>","type":"personal","icon":null,"description":null,"projectRelations":[{"createdAt":"2025-06-26T09:34:51.351Z","updatedAt":"2025-06-26T09:34:51.351Z","role":"project:personalOwner","userId":"35043bb3-1b78-4ddc-8eb1-4498c37e073f","projectId":"jA0J1Ydudz3t9Nad","user":{"createdAt":"2025-06-26T09:34:50.409Z","updatedAt":"2025-07-08T09:36:34.003Z","id":"35043bb3-1b78-4ddc-8eb1-4498c37e073f","email":"cloud-admins@meshy.ai","firstName":"Meshy","lastName":"AI","personalizationAnswers":null,"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"5wCVdXpCNTB9yu66","userActivatedAt":1751967393973},"role":"global:owner","disabled":false,"mfaEnabled":false,"isPending":false}}]}}],"tags":[{"createdAt":"2025-07-08T09:29:54.890Z","updatedAt":"2025-07-08T09:29:54.890Z","id":"KyqggJVNX7rPfoZx","name":"Infra"},{"createdAt":"2025-07-15T06:56:24.125Z","updatedAt":"2025-07-15T06:56:24.125Z","id":"FWJrdcfQA921RwJa","name":"Prod"}]}