staging-deploy/20250814_2025-08-14T03:11:34.154Z.json
{"createdAt":"2025-07-29T09:41:00.533Z","updatedAt":"2025-08-14T03:11:34.154Z","id":"0noJUHSrpVMqRF3B","name":"staging-deploy","active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"staging-deploy-bot","authentication":"basicAuth","options":{"rawBody":false}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-840,40],"id":"6ac5cd26-8ec2-408a-b223-62b3e4ce8a54","name":"Webhook","webhookId":"ac6ac88c-4a64-45c1-ba54-2bf0860fd590","credentials":{"httpBasicAuth":{"id":"zCyiNApZdOriY4aO","name":"basic-auth"}},"notes":"- channel_id\n- application\n- app_version\n- corridor_id"},{"parameters":{"select":"channel","channelId":{"__rl":true,"value":"={{ $('Webhook').item.json.body.channel_id }}","mode":"id"},"messageType":"attachment","attachments":[{"author_icon":"https://github.com/n8n-io.png?size=32","author_link":"https://n8n.meshy.team/workflow/0noJUHSrpVMqRF3B","author_name":"n8n-runner","fallback":"=Deploy {{ $('Webhook').item.json.body.application }}: {{ $('Webhook').item.json.body.app_version }} to {{ $('Webhook').item.json.body['corridor_id'] !== undefined ? \"staging-corridor-\" +  $('Webhook').item.json.body['corridor_id'] : \"staging\" }} : {{ $json.code === 0 ? \"success\": \"failed\" }}","fields":{"item":[{"title":"Message","value":"=Deploy {{ $('Webhook').item.json.body.application }}: {{ $('Webhook').item.json.body.app_version }} to {{ $('Webhook').item.json.body['corridor_id'] !== undefined ? \"staging-corridor-\" +  $('Webhook').item.json.body['corridor_id'] : \"staging\" }} : {{ $json.code === 0 ? \"success\": \"failed\" }}","short":false}]},"footer":"=<https://n8n.meshy.team|Powered By n8n.meshy.team> | <https://n8n.meshy.team/workflow/0noJUHSrpVMqRF3B/executions/{{ $execution.id }}|Triggered on this workflow run>","color":"={{ $json.code === 0 ? \"good\": \"danger\" }}"}],"otherOptions":{"includeLinkToWorkflow":false}},"type":"n8n-nodes-base.slack","typeVersion":2.3,"position":[860,60],"id":"df581196-9213-4ed6-af52-8098c579c84e","name":"send-deploy-result","webhookId":"2eb65517-dd80-4385-941a-52c1944b8718","credentials":{"slackApi":{"id":"13OIerzhWzMlwQJL","name":"Slack account"}}},{"parameters":{"authentication":"privateKey","command":"#!/bin/bash\n\nREPO_DIR=\"/home/runner/deployments-staging\"\n\nif [ -d \"$REPO_DIR\" ]; then\n    if [ -d \"$REPO_DIR/.git\" ]; then\n        echo \"Git repository found at $REPO_DIR. Resetting local changes and pulling latest changes...\"\n\n        cd \"$REPO_DIR\" || { echo \"Failed to change directory to $REPO_DIR\"; exit 1; }\n\n        git reset --hard || { echo \"Git reset failed. Please check the repository.\"; exit 1; }\n        git checkout deploy/staging || { echo \"Git checkout failed. Please check the repository.\"; exit 1; }\n        git pull origin deploy/staging --rebase || { echo \"Git pull failed. Please check the repository.\"; exit 1; }\n\n        echo \"Successfully reset local changes and pulled latest changes.\"\n    else\n        echo \"$REPO_DIR is not a Git repository.\"\n        exit 1\n    fi\nelse\n    echo \"Directory $REPO_DIR does not exist.\"\n    exit 1\nfi\n","cwd":"/home/runner/deployments-staging"},"type":"n8n-nodes-base.ssh","typeVersion":1,"position":[-640,40],"id":"8006d680-3a65-4c84-82a9-7fad790dfad5","name":"git-reset-pull-rebase-ops","credentials":{"sshPrivateKey":{"id":"WgzpY7I2E0hvAmm1","name":"runner@n8n-runner-aws"}},"onError":"continueRegularOutput"},{"parameters":{"authentication":"privateKey","command":"=source /home/runner/venv/bin/activate\n\nexport GIT_AUTHOR_NAME='Deployment CI Bot'\nexport GIT_AUTHOR_EMAIL='ci-bot@meshy.ai'\nexport GIT_COMMITTER_NAME='Deployment CI Bot'\nexport GIT_COMMITTER_EMAIL='ci-bot@meshy.ai'\n\nARGS=()\nif [ -n \"{{ $('Webhook').item.json.body['corridor_id'] }}\" ]; then\n  ARGS+=(\"--corridor-id\" \"{{ $('Webhook').item.json.body['corridor_id'] }}\")\nfi\n\n/home/runner/deployments-staging/k8s/deploy --environ staging update --app {{ $('Webhook').item.json.body['application'] }} --app-version {{ $('Webhook').item.json.body['app_version'] }} \"${ARGS[@]}\"\n\ngit push origin HEAD\n","cwd":"/home/runner/deployments-staging/k8s"},"type":"n8n-nodes-base.ssh","typeVersion":1,"position":[380,60],"id":"e5d2e4b9-a169-4fe2-87d6-588b3bfbbc97","name":"update-code-and-push","credentials":{"sshPrivateKey":{"id":"WgzpY7I2E0hvAmm1","name":"runner@n8n-runner-aws"}},"onError":"continueRegularOutput"},{"parameters":{"authentication":"privateKey","command":"=source /home/runner/venv/bin/activate\n\nARGS=()\nif [ -n \"{{ $('Webhook').item.json.body['corridor_id'] }}\" ]; then\n  ARGS+=(\"--corridor-id\" \"{{ $('Webhook').item.json.body['corridor_id'] }}\")\nfi\n\nif [ \"{{ $('Webhook').item.json.body['force'] }}\" = \"true\" ]; then\n  /home/runner/deployments-staging/k8s/deploy --environ staging deploy --app {{ $('Webhook').item.json.body['application'] }} --app-version {{ $('Webhook').item.json.body['app_version'] }} \"${ARGS[@]}\" --force --wait\nelse\n  /home/runner/deployments-staging/k8s/deploy --environ staging deploy --app {{ $('Webhook').item.json.body['application'] }} --app-version {{ $('Webhook').item.json.body['app_version'] }} \"${ARGS[@]}\" --wait\nfi\n","cwd":"/home/runner/deployments-staging/k8s"},"type":"n8n-nodes-base.ssh","typeVersion":1,"position":[600,60],"id":"68ea5ef1-4709-4b20-b2f3-6a2e23639dd3","name":"exec-deploy","credentials":{"sshPrivateKey":{"id":"WgzpY7I2E0hvAmm1","name":"runner@n8n-runner-aws"}},"onError":"continueRegularOutput"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"51deb38d-1690-41e1-a930-155aba7b9f43","leftValue":"={{ $('Webhook').item.json.body['application'] }}","rightValue":"meshyd","operator":{"type":"string","operation":"startsWith"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-440,40],"id":"593b7934-2508-41e0-80be-1a443a4f4f51","name":"if-meshyd-worker"},{"parameters":{"authentication":"privateKey","command":"=source /home/runner/venv/bin/activate\n\nexport GIT_AUTHOR_NAME='Deployment CI Bot'\nexport GIT_AUTHOR_EMAIL='ci-bot@meshy.ai'\nexport GIT_COMMITTER_NAME='Deployment CI Bot'\nexport GIT_COMMITTER_EMAIL='ci-bot@meshy.ai'\n\n/home/runner/deployments-staging/k8s/deploy --environ staging update --app meshyd-cron --app-version {{ $('Webhook').item.json.body['app_version'] }}\n\ngit push origin HEAD\n","cwd":"/home/runner/deployments-staging/k8s"},"type":"n8n-nodes-base.ssh","typeVersion":1,"position":[-180,-140],"id":"f889a23f-f424-488c-82e3-af6ac7b1ca20","name":"update-cron","credentials":{"sshPrivateKey":{"id":"WgzpY7I2E0hvAmm1","name":"runner@n8n-runner-aws"}},"onError":"continueRegularOutput"},{"parameters":{"authentication":"privateKey","command":"=source /home/runner/venv/bin/activate\n/home/runner/deployments-staging/k8s/deploy --environ staging deploy --app meshyd-cron --app-version {{ $('Webhook').item.json.body['app_version'] }} --wait\n","cwd":"/home/runner/deployments-staging/k8s"},"type":"n8n-nodes-base.ssh","typeVersion":1,"position":[40,-140],"id":"28ec0830-98c5-4a2e-9ec1-6a7ea25e24a6","name":"exec-deploy-cron","credentials":{"sshPrivateKey":{"id":"WgzpY7I2E0hvAmm1","name":"runner@n8n-runner-aws"}},"onError":"continueRegularOutput"}],"connections":{"Webhook":{"main":[[{"node":"git-reset-pull-rebase-ops","type":"main","index":0}]]},"git-reset-pull-rebase-ops":{"main":[[{"node":"if-meshyd-worker","type":"main","index":0}],[]]},"update-code-and-push":{"main":[[{"node":"exec-deploy","type":"main","index":0}]]},"exec-deploy":{"main":[[{"node":"send-deploy-result","type":"main","index":0}],[]]},"if-meshyd-worker":{"main":[[{"node":"update-cron","type":"main","index":0}],[{"node":"update-code-and-push","type":"main","index":0}]]},"update-cron":{"main":[[{"node":"exec-deploy-cron","type":"main","index":0}]]},"exec-deploy-cron":{"main":[[{"node":"update-code-and-push","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Webhook":[{"json":{"headers":{"host":"n8n.meshy.team","user-agent":"RapidAPI/4.3.3 (Macintosh; OS X/15.5.0) GCDHTTPRequest","content-length":"76","authorization":"Basic c2xhY2tib3Q6c2xhY2tib3Q=","content-type":"application/json; charset=utf-8","x-amzn-trace-id":"Root=1-68958479-74912a3524fabd1c7b49f0f4","x-forwarded-for":"137.59.101.197, 10.2.4.179","x-forwarded-host":"n8n.meshy.team","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"traefik-69878cc8f5-7gst2","x-real-ip":"10.2.4.179","accept-encoding":"gzip"},"params":{},"query":{},"body":{"channel_id":"C07UEPMC3ST","application":"mechoux","app_version":"e48d1ff"},"webhookUrl":"https://n8n.meshy.team/webhook/staging-deploy","executionMode":"production"}}]},"versionId":"36044d02-4f9c-47c0-8efe-3355f4428382","triggerCount":1,"shared":[{"createdAt":"2025-07-29T09:41:00.533Z","updatedAt":"2025-07-29T09:41:00.533Z","role":"workflow:owner","workflowId":"0noJUHSrpVMqRF3B","projectId":"jA0J1Ydudz3t9Nad","project":{"createdAt":"2025-06-26T09:34:51.351Z","updatedAt":"2025-06-26T09:37:01.737Z","id":"jA0J1Ydudz3t9Nad","name":"Meshy AI <cloud-admins@meshy.ai>","type":"personal","icon":null,"description":null,"projectRelations":[{"createdAt":"2025-06-26T09:34:51.351Z","updatedAt":"2025-06-26T09:34:51.351Z","role":"project:personalOwner","userId":"35043bb3-1b78-4ddc-8eb1-4498c37e073f","projectId":"jA0J1Ydudz3t9Nad","user":{"createdAt":"2025-06-26T09:34:50.409Z","updatedAt":"2025-07-08T09:36:34.003Z","id":"35043bb3-1b78-4ddc-8eb1-4498c37e073f","email":"cloud-admins@meshy.ai","firstName":"Meshy","lastName":"AI","personalizationAnswers":null,"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"5wCVdXpCNTB9yu66","userActivatedAt":1751967393973},"role":"global:owner","disabled":false,"mfaEnabled":false,"isPending":false}}]}}],"tags":[]}