staging-deploy/20250731_2025-07-31T03:57:59.848Z.json
{"createdAt":"2025-07-29T09:41:00.533Z","updatedAt":"2025-07-31T03:57:59.848Z","id":"0noJUHSrpVMqRF3B","name":"staging-deploy","active":false,"isArchived":false,"nodes":[{"parameters":{"authentication":"privateKey","command":"#!/bin/bash\n\nREPO_DIR=\"/home/runner/deployments\"\n\n# 检查仓库目录是否存在\nif [ -d \"$REPO_DIR\" ]; then\n    # 检查是否为 Git 仓库\n    if [ -d \"$REPO_DIR/.git\" ]; then\n        echo \"Git repository found at $REPO_DIR. Pulling latest changes...\"\n\n        # 进入仓库目录\n        cd \"$REPO_DIR\" || { echo \"Failed to change directory to $REPO_DIR\"; exit 1; }\n\n        # 拉取最新的变更，使用 --rebase 保持提交历史的整洁\n        git pull --rebase || { echo \"Git pull failed. Please check the repository.\"; exit 1; }\n\n        echo \"Successfully pulled latest changes.\"\n    else\n        echo \"$REPO_DIR is not a Git repository.\"\n        exit 1\n    fi\nelse\n    echo \"Directory $REPO_DIR does not exist.\"\n    exit 1\nfi\n","cwd":"/home/runner/deployments/"},"type":"n8n-nodes-base.ssh","typeVersion":1,"position":[-60,40],"id":"8006d680-3a65-4c84-82a9-7fad790dfad5","name":"git pull","credentials":{"sshPrivateKey":{"id":"WgzpY7I2E0hvAmm1","name":"runner@n8n-runner-aws"}}},{"parameters":{"authentication":"privateKey","command":"=./deploy --environ staging update --app {{ $('Webhook').item.json.application }}  --app-version  {{ $('Webhook').item.json.appversion }}","cwd":"/home/runner/deployments/k8s"},"type":"n8n-nodes-base.ssh","typeVersion":1,"position":[520,40],"id":"68ea5ef1-4709-4b20-b2f3-6a2e23639dd3","name":"deploy","credentials":{"sshPrivateKey":{"id":"WgzpY7I2E0hvAmm1","name":"runner@n8n-runner-aws"}}},{"parameters":{"authentication":"privateKey","command":"=if [ \"$(echo {{ $('Webhook').item.json.force }})\" == \"true\" ]; then\n  ./deploy --environ staging deploy --app \"$(echo {{ $('Webhook').item.json.application }})\" --force --wait\nelse\n  ./deploy --environ staging deploy --app \"$(echo {{ $('Webhook').item.json.application }})\" --wait\nfi\n","cwd":"=/home/runner/deployments/k8s"},"type":"n8n-nodes-base.ssh","typeVersion":1,"position":[1020,40],"id":"1cc100b9-761e-44aa-a132-5291ede6f460","name":"force_deploy","credentials":{"sshPrivateKey":{"id":"hbQ0SL5G07trSaPf","name":"runner@n8n-runner"}}},{"parameters":{"select":"channel","channelId":{"__rl":true,"value":"={{ $('When Executed by Another Workflow').item.json.channel_id }}","mode":"id"},"text":":everydayonecat-rocket: All staging deployment tasks have been successfully completed.","otherOptions":{"includeLinkToWorkflow":true}},"type":"n8n-nodes-base.slack","typeVersion":2.3,"position":[1380,40],"id":"df581196-9213-4ed6-af52-8098c579c84e","name":"部署完成","webhookId":"2eb65517-dd80-4385-941a-52c1944b8718","credentials":{"slackApi":{"id":"13OIerzhWzMlwQJL","name":"Slack account"}}},{"parameters":{"select":"channel","channelId":{"__rl":true,"value":"={{ $('Webhook').item.json.body.channel_id }}","mode":"id"},"text":":staging-deploy: ","otherOptions":{"includeLinkToWorkflow":true}},"type":"n8n-nodes-base.slack","typeVersion":2.3,"position":[760,40],"id":"69b93df4-14f4-4ab0-b3d7-84e1084707a9","name":"staging-deploy","webhookId":"2eb65517-dd80-4385-941a-52c1944b8718","credentials":{"slackApi":{"id":"13OIerzhWzMlwQJL","name":"Slack account"}}},{"parameters":{"httpMethod":"POST","path":"staging-deploy","options":{"rawBody":false}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-380,40],"id":"6ac5cd26-8ec2-408a-b223-62b3e4ce8a54","name":"Webhook","webhookId":"ac6ac88c-4a64-45c1-ba54-2bf0860fd590"},{"parameters":{"select":"channel","channelId":{"__rl":true,"value":"={{ $('Webhook').item.json.body.channel_id }}","mode":"id"},"text":"=: git pull  {{ $json.stdout }}","otherOptions":{"includeLinkToWorkflow":true}},"type":"n8n-nodes-base.slack","typeVersion":2.3,"position":[240,40],"id":"50c9a868-42df-4eea-bcd4-64bce8dcfc4e","name":"git pull2","webhookId":"2eb65517-dd80-4385-941a-52c1944b8718","credentials":{"slackApi":{"id":"13OIerzhWzMlwQJL","name":"Slack account"}}}],"connections":{"git pull":{"main":[[{"node":"git pull2","type":"main","index":0}],[]]},"deploy":{"main":[[{"node":"staging-deploy","type":"main","index":0}]]},"force_deploy":{"main":[[{"node":"部署完成","type":"main","index":0}]]},"staging-deploy":{"main":[[{"node":"force_deploy","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"git pull","type":"main","index":0}]]},"git pull2":{"main":[[{"node":"deploy","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"095542eb-0fcd-4824-b2ea-0dd2048562bc","triggerCount":0,"shared":[{"createdAt":"2025-07-29T09:41:00.533Z","updatedAt":"2025-07-29T09:41:00.533Z","role":"workflow:owner","workflowId":"0noJUHSrpVMqRF3B","projectId":"jA0J1Ydudz3t9Nad","project":{"createdAt":"2025-06-26T09:34:51.351Z","updatedAt":"2025-06-26T09:37:01.737Z","id":"jA0J1Ydudz3t9Nad","name":"Meshy AI <cloud-admins@meshy.ai>","type":"personal","icon":null,"description":null,"projectRelations":[{"createdAt":"2025-06-26T09:34:51.351Z","updatedAt":"2025-06-26T09:34:51.351Z","role":"project:personalOwner","userId":"35043bb3-1b78-4ddc-8eb1-4498c37e073f","projectId":"jA0J1Ydudz3t9Nad","user":{"createdAt":"2025-06-26T09:34:50.409Z","updatedAt":"2025-07-08T09:36:34.003Z","id":"35043bb3-1b78-4ddc-8eb1-4498c37e073f","email":"cloud-admins@meshy.ai","firstName":"Meshy","lastName":"AI","personalizationAnswers":null,"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"5wCVdXpCNTB9yu66","userActivatedAt":1751967393973},"role":"global:owner","disabled":false,"mfaEnabled":false,"isPending":false}}]}}],"tags":[]}