staging-deploy/20250802_2025-08-01T03:48:04.098Z.json
{"createdAt":"2025-07-29T09:41:00.533Z","updatedAt":"2025-08-01T03:48:04.098Z","id":"0noJUHSrpVMqRF3B","name":"staging-deploy","active":true,"isArchived":false,"nodes":[{"parameters":{"authentication":"privateKey","command":"=source /home/runner/venv/bin/activate\n\nexport GIT_AUTHOR_NAME='Deployment CI Bot'\nexport GIT_AUTHOR_EMAIL='ci-bot@meshy.ai'\nexport GIT_COMMITTER_NAME='Deployment CI Bot'\nexport GIT_COMMITTER_EMAIL='ci-bot@meshy.ai'\n\n/home/runner/deployments-staging/k8s/deploy --environ staging update --app {{ $('Webhook').item.json.body['application'] }} --app-version {{ $('Webhook').item.json.body['app_version'] }}\n\n\nif [ \"{{ $('Webhook').item.json.body['force'] }}\" = \"true\" ]; then\n  /home/runner/deployments-staging/k8s/deploy --environ staging deploy --app {{ $('Webhook').item.json.body['application'] }} --app-version {{ $('Webhook').item.json.body['app_version'] }} --force --wait\nelse\n  /home/runner/deployments-staging/k8s/deploy --environ staging deploy --app {{ $('Webhook').item.json.body['application'] }} --app-version {{ $('Webhook').item.json.body['app_version'] }} --wait\nfi\n","cwd":"/home/runner/deployments-staging/k8s"},"type":"n8n-nodes-base.ssh","typeVersion":1,"position":[660,40],"id":"68ea5ef1-4709-4b20-b2f3-6a2e23639dd3","name":"deploy","credentials":{"sshPrivateKey":{"id":"WgzpY7I2E0hvAmm1","name":"runner@n8n-runner-aws"}},"onError":"continueRegularOutput"},{"parameters":{"httpMethod":"POST","path":"staging-deploy","authentication":"basicAuth","options":{"rawBody":false}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-380,40],"id":"6ac5cd26-8ec2-408a-b223-62b3e4ce8a54","name":"Webhook","webhookId":"ac6ac88c-4a64-45c1-ba54-2bf0860fd590","credentials":{"httpBasicAuth":{"id":"zCyiNApZdOriY4aO","name":"basic-auth"}},"notes":"- channel_id\n- application\n- app_version\n- corridor_id"},{"parameters":{"operation":"update","channelId":{"__rl":true,"value":"={{ $('Webhook').item.json.body.channel_id }}","mode":"id"},"ts":"={{ $('git pull success').item.json.message.ts }}","text":"=staging-deploy error {{ $json.stderr }}","updateFields":{},"otherOptions":{"includeLinkToWorkflow":true}},"type":"n8n-nodes-base.slack","typeVersion":2.3,"position":[1240,220],"id":"cad85ae7-4feb-4eb0-bdbd-d543b283afeb","name":"staging-deploy error","webhookId":"2eb65517-dd80-4385-941a-52c1944b8718","credentials":{"slackApi":{"id":"13OIerzhWzMlwQJL","name":"Slack account"}}},{"parameters":{"operation":"update","channelId":{"__rl":true,"value":"={{ $('Webhook').item.json.body.channel_id }}","mode":"id"},"ts":"={{ $('git pull success').item.json.message.ts }}","text":"=:everydayonecat-rocket: Deploy `{{ $('Webhook').item.json.body['application'] }}`: `{{ $('Webhook').item.json.body['app_version'] }}` to staging: success","updateFields":{},"otherOptions":{"includeLinkToWorkflow":false}},"type":"n8n-nodes-base.slack","typeVersion":2.3,"position":[1240,-40],"id":"df581196-9213-4ed6-af52-8098c579c84e","name":"force deploy successfully","webhookId":"2eb65517-dd80-4385-941a-52c1944b8718","credentials":{"slackApi":{"id":"13OIerzhWzMlwQJL","name":"Slack account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"d77bb54d-39fa-4223-b99e-78e23c0e1639","leftValue":"={{ $json.code }}","rightValue":0,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[840,40],"id":"d6cf7201-58a7-45f4-8167-6e74d3f6c7ce","name":"If1"},{"parameters":{"authentication":"privateKey","command":"#!/bin/bash\n\nREPO_DIR=\"/home/runner/deployments-staging\"\n\nif [ -d \"$REPO_DIR\" ]; then\n    if [ -d \"$REPO_DIR/.git\" ]; then\n        echo \"Git repository found at $REPO_DIR. Resetting local changes and pulling latest changes...\"\n\n        cd \"$REPO_DIR\" || { echo \"Failed to change directory to $REPO_DIR\"; exit 1; }\n\n        git reset --hard || { echo \"Git reset failed. Please check the repository.\"; exit 1; }\n        git checkout deploy/staging || { echo \"Git checkout failed. Please check the repository.\"; exit 1; }\n        git pull origin deploy/staging --rebase || { echo \"Git pull failed. Please check the repository.\"; exit 1; }\n\n        echo \"Successfully reset local changes and pulled latest changes.\"\n    else\n        echo \"$REPO_DIR is not a Git repository.\"\n        exit 1\n    fi\nelse\n    echo \"Directory $REPO_DIR does not exist.\"\n    exit 1\nfi\n","cwd":"/home/runner/deployments-staging"},"type":"n8n-nodes-base.ssh","typeVersion":1,"position":[-200,40],"id":"8006d680-3a65-4c84-82a9-7fad790dfad5","name":"git reset/pull/rebase","credentials":{"sshPrivateKey":{"id":"WgzpY7I2E0hvAmm1","name":"runner@n8n-runner-aws"}},"onError":"continueRegularOutput"},{"parameters":{"select":"channel","channelId":{"__rl":true,"value":"={{ $('Webhook').item.json.body.channel_id }}","mode":"id"},"text":"=[█░░░░] 20% [I] Successfully pulled and rebased the repository.","otherOptions":{"includeLinkToWorkflow":false}},"type":"n8n-nodes-base.slack","typeVersion":2.3,"position":[-40,40],"id":"9c5350b3-17e9-4ec3-ad8b-6f1e063d6dab","name":"git pull success","webhookId":"2eb65517-dd80-4385-941a-52c1944b8718","credentials":{"slackApi":{"id":"13OIerzhWzMlwQJL","name":"Slack account"}}},{"parameters":{"authentication":"privateKey","command":"=source /home/runner/venv/bin/activate\n\nexport GIT_AUTHOR_NAME='Deployment CI Bot'\nexport GIT_AUTHOR_EMAIL='ci-bot@meshy.ai'\nexport GIT_COMMITTER_NAME='Deployment CI Bot'\nexport GIT_COMMITTER_EMAIL='ci-bot@meshy.ai'\n\nARGS=()\nif [ -n \"{{ $('Webhook').item.json.body['corridor_id'] }}\" ]; then\n  ARGS+=(\"--corridor-id\" \"{{ $('Webhook').item.json.body['corridor_id'] }}\")\nfi\n\n/home/runner/deployments-staging/k8s/deploy --environ staging update --app {{ $('Webhook').item.json.body['application'] }} --app-version {{ $('Webhook').item.json.body['app_version'] }} \"${ARGS[@]}\"\n\ngit push origin HEAD\n","cwd":"/home/runner/deployments-staging/k8s"},"type":"n8n-nodes-base.ssh","typeVersion":1,"position":[120,40],"id":"e5d2e4b9-a169-4fe2-87d6-588b3bfbbc97","name":"update and push","credentials":{"sshPrivateKey":{"id":"WgzpY7I2E0hvAmm1","name":"runner@n8n-runner-aws"}},"onError":"continueRegularOutput"},{"parameters":{"operation":"update","channelId":{"__rl":true,"value":"={{ $('Webhook').item.json.body.channel_id }}","mode":"id"},"ts":"={{ $('git pull success').item.json.message.ts }}","text":"=[██░░░] 40% [I] Version updated and code pushed successfully.","updateFields":{},"otherOptions":{"includeLinkToWorkflow":false}},"type":"n8n-nodes-base.slack","typeVersion":2.3,"position":[280,40],"id":"71eb74ef-a720-483f-bfe6-dd7b7f2a1e2b","name":"updated and push success","webhookId":"2eb65517-dd80-4385-941a-52c1944b8718","credentials":{"slackApi":{"id":"13OIerzhWzMlwQJL","name":"Slack account"}}},{"parameters":{"operation":"update","channelId":{"__rl":true,"value":"={{ $('Webhook').item.json.body.channel_id }}","mode":"id"},"ts":"={{ $('git pull success').item.json.message.ts }}","text":"=[███░░] 60% [I] Begin to deploy `{{ $('Webhook').item.json.body['application'] }}` to `{{ $('Webhook').item.json.body['app_version'] }}` and wait for services ready.","updateFields":{},"otherOptions":{"includeLinkToWorkflow":false}},"type":"n8n-nodes-base.slack","typeVersion":2.3,"position":[460,40],"id":"5dfc82e6-ff1f-494e-8160-8e88328a3aa4","name":"deploy begin message","webhookId":"2eb65517-dd80-4385-941a-52c1944b8718","credentials":{"slackApi":{"id":"13OIerzhWzMlwQJL","name":"Slack account"}}}],"connections":{"deploy":{"main":[[{"node":"If1","type":"main","index":0}],[]]},"Webhook":{"main":[[{"node":"git reset/pull/rebase","type":"main","index":0}]]},"If1":{"main":[[{"node":"force deploy successfully","type":"main","index":0}],[{"node":"staging-deploy error","type":"main","index":0}]]},"git reset/pull/rebase":{"main":[[{"node":"git pull success","type":"main","index":0}],[]]},"git pull success":{"main":[[{"node":"update and push","type":"main","index":0}]]},"update and push":{"main":[[{"node":"updated and push success","type":"main","index":0}]]},"updated and push success":{"main":[[{"node":"deploy begin message","type":"main","index":0}]]},"deploy begin message":{"main":[[{"node":"deploy","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Webhook":[{"json":{"headers":{"host":"n8n.meshy.team","user-agent":"RapidAPI/4.3.3 (Macintosh; OS X/15.5.0) GCDHTTPRequest","content-length":"80","authorization":"Basic c2xhY2tib3Q6c2xhY2tib3Q=","content-type":"application/json; charset=utf-8","x-amzn-trace-id":"Root=1-688c37f7-2d9b86000697c5136ed9132d","x-forwarded-for":"137.59.101.197, 10.2.4.179","x-forwarded-host":"n8n.meshy.team","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"traefik-69878cc8f5-7gst2","x-real-ip":"10.2.4.179","accept-encoding":"gzip"},"params":{},"query":{},"body":{"channel_id":"C07UEPMC3ST","application":"mechoux","app_version":"v2025.07.29"},"webhookUrl":"https://n8n.meshy.team/webhook/staging-deploy","executionMode":"production"}}]},"versionId":"00e7062d-d95e-46d6-8443-a67353e7e6b0","triggerCount":1,"shared":[{"createdAt":"2025-07-29T09:41:00.533Z","updatedAt":"2025-07-29T09:41:00.533Z","role":"workflow:owner","workflowId":"0noJUHSrpVMqRF3B","projectId":"jA0J1Ydudz3t9Nad","project":{"createdAt":"2025-06-26T09:34:51.351Z","updatedAt":"2025-06-26T09:37:01.737Z","id":"jA0J1Ydudz3t9Nad","name":"Meshy AI <cloud-admins@meshy.ai>","type":"personal","icon":null,"description":null,"projectRelations":[{"createdAt":"2025-06-26T09:34:51.351Z","updatedAt":"2025-06-26T09:34:51.351Z","role":"project:personalOwner","userId":"35043bb3-1b78-4ddc-8eb1-4498c37e073f","projectId":"jA0J1Ydudz3t9Nad","user":{"createdAt":"2025-06-26T09:34:50.409Z","updatedAt":"2025-07-08T09:36:34.003Z","id":"35043bb3-1b78-4ddc-8eb1-4498c37e073f","email":"cloud-admins@meshy.ai","firstName":"Meshy","lastName":"AI","personalizationAnswers":null,"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"5wCVdXpCNTB9yu66","userActivatedAt":1751967393973},"role":"global:owner","disabled":false,"mfaEnabled":false,"isPending":false}}]}}],"tags":[]}