[Production] SaaS Release Workflow/20250812_2025-08-11T07:11:28.025Z.json
{"createdAt":"2025-08-04T07:05:33.914Z","updatedAt":"2025-08-11T07:11:28.025Z","id":"eg3Xu8rgDUCEcuGh","name":"[Production] SaaS Release Workflow","active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"saas-release","authentication":"basicAuth","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[0,0],"id":"d9286980-61ea-48f7-8834-717490f805d8","name":"Deploy Webhook","webhookId":"a8a04d14-e57f-4408-89fe-e208472f8e7c","credentials":{"httpBasicAuth":{"id":"zCyiNApZdOriY4aO","name":"basic-auth"}}},{"parameters":{"jsCode":"return [\n    {\n        json: {\n            channel_id: 'C096JMM6PJ4',\n            cluster: 'aws',\n            services: [\n                'meshyd-cron',\n                'meshyd',\n                'meshy-webapp',\n            ],\n        }\n    },\n    {\n        json: {\n            channel_id: 'C096JMM6PJ4',\n            cluster: 'aws-2',\n            services: [\n                'meshyd',\n                'meshy-webapp',\n            ]\n        }\n    }\n]"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[200,0],"id":"f50efeb8-9851-482d-a925-b1d6ee282df0","name":"saas-release-config"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[420,0],"id":"ca2ba862-515c-4262-9d08-f46cbd4a7015","name":"loop-clusters"},{"parameters":{"workflowId":{"__rl":true,"value":"5wCVdXpCNTB9yu66","mode":"list","cachedResultName":"deploy-specific-cluster"},"workflowInputs":{"mappingMode":"defineBelow","value":{"cluster":"={{ $json.cluster }}","channel_id":"={{ $json.channel_id }}","services":"={{ $json.services }}"},"matchingColumns":[],"schema":[{"id":"channel_id","displayName":"channel_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"cluster","displayName":"cluster","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"services","displayName":"services","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"array","removed":false}],"attemptToConvertTypes":true,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[660,100],"id":"b929c9f0-40e4-4557-9c1b-85f590cf67a6","name":"deploy-specific-cluster"}],"connections":{"Deploy Webhook":{"main":[[{"node":"saas-release-config","type":"main","index":0}]]},"saas-release-config":{"main":[[{"node":"loop-clusters","type":"main","index":0}]]},"loop-clusters":{"main":[[],[{"node":"deploy-specific-cluster","type":"main","index":0}]]},"deploy-specific-cluster":{"main":[[{"node":"loop-clusters","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"1630f5c9-92c4-450d-92e6-16cfe827f2bb","triggerCount":1,"shared":[{"createdAt":"2025-08-04T07:05:33.914Z","updatedAt":"2025-08-04T07:05:33.914Z","role":"workflow:owner","workflowId":"eg3Xu8rgDUCEcuGh","projectId":"jA0J1Ydudz3t9Nad","project":{"createdAt":"2025-06-26T09:34:51.351Z","updatedAt":"2025-06-26T09:37:01.737Z","id":"jA0J1Ydudz3t9Nad","name":"Meshy AI <cloud-admins@meshy.ai>","type":"personal","icon":null,"description":null,"projectRelations":[{"createdAt":"2025-06-26T09:34:51.351Z","updatedAt":"2025-06-26T09:34:51.351Z","role":"project:personalOwner","userId":"35043bb3-1b78-4ddc-8eb1-4498c37e073f","projectId":"jA0J1Ydudz3t9Nad","user":{"createdAt":"2025-06-26T09:34:50.409Z","updatedAt":"2025-07-08T09:36:34.003Z","id":"35043bb3-1b78-4ddc-8eb1-4498c37e073f","email":"cloud-admins@meshy.ai","firstName":"Meshy","lastName":"AI","personalizationAnswers":null,"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"5wCVdXpCNTB9yu66","userActivatedAt":1751967393973},"role":"global:owner","disabled":false,"mfaEnabled":false,"isPending":false}}]}}],"tags":[]}