[Production] SaaS Release Workflow/20250810_2025-08-08T08:23:19.195Z.json
{"createdAt":"2025-08-04T07:05:33.914Z","updatedAt":"2025-08-08T08:23:19.195Z","id":"eg3Xu8rgDUCEcuGh","name":"[Production] SaaS Release Workflow","active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"saas-release","authentication":"basicAuth","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[0,0],"id":"d9286980-61ea-48f7-8834-717490f805d8","name":"Deploy Webhook","webhookId":"a8a04d14-e57f-4408-89fe-e208472f8e7c","credentials":{"httpBasicAuth":{"id":"zCyiNApZdOriY4aO","name":"basic-auth"}}},{"parameters":{"assignments":{"assignments":[{"id":"f34eef2e-c3ce-4c37-a9bf-b3be2645541c","name":"channel_id","value":"C096JMM6PJ4","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[180,0],"id":"0f5cf295-453d-474d-82b6-17cfe31a869c","name":"Args"},{"parameters":{"workflowId":{"__rl":true,"value":"5wCVdXpCNTB9yu66","mode":"list","cachedResultName":"sub-deploy"},"workflowInputs":{"mappingMode":"defineBelow","value":{"cluster":"aws","channel_id":"={{ $json.channel_id }}","meshy-webapp":true,"meshy":false,"meshyd-worker":false,"dcc-bpy":false,"dcc-houdini":false,"mechoux":false,"meshyd":true,"meshyd-cron":true},"matchingColumns":[],"schema":[{"id":"cluster","displayName":"cluster","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"channel_id","displayName":"channel_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"meshy","displayName":"meshy","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"boolean","removed":false},{"id":"meshyd","displayName":"meshyd","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"boolean","removed":false},{"id":"meshyd-worker","displayName":"meshyd-worker","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"boolean","removed":false},{"id":"meshy-webapp","displayName":"meshy-webapp","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"boolean","removed":false},{"id":"dcc-bpy","displayName":"dcc-bpy","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"boolean","removed":false},{"id":"dcc-houdini","displayName":"dcc-houdini","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"boolean","removed":false},{"id":"mechoux","displayName":"mechoux","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"boolean","removed":false},{"id":"meshyd-cron","displayName":"meshyd-cron","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"boolean","removed":false}],"attemptToConvertTypes":true,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[360,0],"id":"b929c9f0-40e4-4557-9c1b-85f590cf67a6","name":"Deploy aws"},{"parameters":{"workflowId":{"__rl":true,"value":"5wCVdXpCNTB9yu66","mode":"list","cachedResultName":"sub-deploy"},"workflowInputs":{"mappingMode":"defineBelow","value":{"cluster":"aws-2","meshy-webapp":true,"channel_id":"={{ $json.channel_id }}","meshy":false,"meshyd-worker":false,"dcc-bpy":false,"dcc-houdini":false,"mechoux":false,"meshyd-cron":false,"meshyd":"={{ true }}"},"matchingColumns":[],"schema":[{"id":"cluster","displayName":"cluster","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"channel_id","displayName":"channel_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"meshy","displayName":"meshy","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"boolean","removed":false},{"id":"meshyd","displayName":"meshyd","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"boolean","removed":false},{"id":"meshyd-worker","displayName":"meshyd-worker","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"boolean","removed":false},{"id":"meshy-webapp","displayName":"meshy-webapp","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"boolean","removed":false},{"id":"dcc-bpy","displayName":"dcc-bpy","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"boolean","removed":false},{"id":"dcc-houdini","displayName":"dcc-houdini","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"boolean","removed":false},{"id":"mechoux","displayName":"mechoux","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"boolean","removed":false},{"id":"meshyd-cron","displayName":"meshyd-cron","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"boolean","removed":false}],"attemptToConvertTypes":true,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[540,0],"id":"ada645e6-915d-4f54-b0b5-ab56024faa71","name":"Deploy aws-2"}],"connections":{"Deploy Webhook":{"main":[[{"node":"Args","type":"main","index":0}]]},"Args":{"main":[[{"node":"Deploy aws","type":"main","index":0}]]},"Deploy aws":{"main":[[{"node":"Deploy aws-2","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"51c920cd-b6f4-43c6-961d-00bed7b48145","triggerCount":1,"shared":[{"createdAt":"2025-08-04T07:05:33.914Z","updatedAt":"2025-08-04T07:05:33.914Z","role":"workflow:owner","workflowId":"eg3Xu8rgDUCEcuGh","projectId":"jA0J1Ydudz3t9Nad","project":{"createdAt":"2025-06-26T09:34:51.351Z","updatedAt":"2025-06-26T09:37:01.737Z","id":"jA0J1Ydudz3t9Nad","name":"Meshy AI <cloud-admins@meshy.ai>","type":"personal","icon":null,"description":null,"projectRelations":[{"createdAt":"2025-06-26T09:34:51.351Z","updatedAt":"2025-06-26T09:34:51.351Z","role":"project:personalOwner","userId":"35043bb3-1b78-4ddc-8eb1-4498c37e073f","projectId":"jA0J1Ydudz3t9Nad","user":{"createdAt":"2025-06-26T09:34:50.409Z","updatedAt":"2025-07-08T09:36:34.003Z","id":"35043bb3-1b78-4ddc-8eb1-4498c37e073f","email":"cloud-admins@meshy.ai","firstName":"Meshy","lastName":"AI","personalizationAnswers":null,"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"5wCVdXpCNTB9yu66","userActivatedAt":1751967393973},"role":"global:owner","disabled":false,"mfaEnabled":false,"isPending":false}}]}}],"tags":[]}