Very quick quickstart/20250818_2025-08-17T22:40:43.012Z.json
{"createdAt":"2025-08-17T22:40:43.012Z","updatedAt":"2025-08-17T22:40:43.012Z","id":"x18RlKS3DIvJM6Lu","name":"Very quick quickstart","active":false,"isArchived":false,"nodes":[{"parameters":{"operation":"getAllPeople","returnAll":true},"id":"cbb6afcc-f900-434d-ad2e-affb31ccf7a9","name":"Customer Datastore","type":"n8n-nodes-base.n8nTrainingCustomerDatastore","position":[920,520],"typeVersion":1},{"parameters":{"content":"## About the very quick quickstart workflow\n\nThis is an incomplete workflow, used in the [very quick quickstart](https://docs.n8n.io//try-it-out/quickstart/) tutorial.","height":220,"width":300},"id":"1eb939c0-e391-4e3b-9751-889da2de7cf7","name":"Note","type":"n8n-nodes-base.stickyNote","position":[380,240],"typeVersion":1},{"parameters":{"content":"**Get fake sample data**","height":300,"width":220},"id":"c53a8591-9efe-4fb8-993b-6cc309f3240e","name":"Note1","type":"n8n-nodes-base.stickyNote","position":[860,420],"typeVersion":1},{"parameters":{"content":"**Extract data and prepare it for use in the next node**","height":300,"width":220},"id":"c7e35ca4-b180-4280-9e43-a5dda5d3ea97","name":"Note2","type":"n8n-nodes-base.stickyNote","position":[1140,420],"typeVersion":1},{"parameters":{},"id":"94bba884-5cef-4fe6-ba7d-cc7dbe49839c","name":"When clicking \"Test Workflow\"","type":"n8n-nodes-base.manualTrigger","position":[680,520],"typeVersion":1},{"parameters":{"assignments":{"assignments":[{"id":"df041e3c-fc09-4ba2-8e6b-37f2c6a02526","name":"customer_id","type":"string","value":"={{ $json.id }}"},{"id":"bf288953-4fef-4f55-a45f-c223714919c0","name":"customer_name","type":"string","value":"={{ $json.name }}"},{"id":"1cff0b21-6740-4697-9d2c-9bcb045af0be","name":"customer_description","type":"string","value":"={{ $json.notes }}"}]},"options":{}},"id":"f6d22d64-c77f-415d-9c34-c7106ba4877a","name":"Edit Fields1","type":"n8n-nodes-base.set","position":[1200,520],"typeVersion":3.3}],"connections":{"Edit Fields1":{"main":[[]]},"Customer Datastore":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]},"When clicking \"Test Workflow\"":{"main":[[{"node":"Customer Datastore","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateId":"1700"},"pinData":{},"versionId":"2d822ea2-a373-4c2c-8fa5-2a4318fd7d82","triggerCount":0,"shared":[{"createdAt":"2025-08-17T22:40:43.012Z","updatedAt":"2025-08-17T22:40:43.012Z","role":"workflow:owner","workflowId":"x18RlKS3DIvJM6Lu","projectId":"jA0J1Ydudz3t9Nad","project":{"createdAt":"2025-06-26T09:34:51.351Z","updatedAt":"2025-06-26T09:37:01.737Z","id":"jA0J1Ydudz3t9Nad","name":"Meshy AI <cloud-admins@meshy.ai>","type":"personal","icon":null,"description":null,"projectRelations":[{"createdAt":"2025-06-26T09:34:51.351Z","updatedAt":"2025-06-26T09:34:51.351Z","role":"project:personalOwner","userId":"35043bb3-1b78-4ddc-8eb1-4498c37e073f","projectId":"jA0J1Ydudz3t9Nad","user":{"createdAt":"2025-06-26T09:34:50.409Z","updatedAt":"2025-07-08T09:36:34.003Z","id":"35043bb3-1b78-4ddc-8eb1-4498c37e073f","email":"cloud-admins@meshy.ai","firstName":"Meshy","lastName":"AI","personalizationAnswers":null,"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"5wCVdXpCNTB9yu66","userActivatedAt":1751967393973},"role":"global:owner","disabled":false,"mfaEnabled":false,"isPending":false}}]}}],"tags":[]}