Meshy Production Deployment Workflow/20250731_2025-07-30T10:28:59.023Z.json
{"createdAt":"2025-07-07T02:09:53.880Z","updatedAt":"2025-07-30T10:28:59.023Z","id":"SfpC2kRoafAjlnLe","name":"Meshy Production Deployment Workflow","active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"deploy","authentication":"basicAuth","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-1480,-120],"id":"392fda2e-3dce-48ef-9a8e-730228f2b66c","name":"Deploy Webhook","webhookId":"a8a04d14-e57f-4408-89fe-e208472f8e7c","credentials":{"httpBasicAuth":{"id":"zCyiNApZdOriY4aO","name":"basic-auth"}}},{"parameters":{"assignments":{"assignments":[{"id":"f34eef2e-c3ce-4c37-a9bf-b3be2645541c","name":"channel_id","value":"C096JMM6PJ4","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1260,-120],"id":"ad10d707-aa64-44e8-a558-88ac33b49b2f","name":"Args"},{"parameters":{"workflowId":{"__rl":true,"value":"5wCVdXpCNTB9yu66","mode":"list","cachedResultName":"sub-deploy"},"workflowInputs":{"mappingMode":"defineBelow","value":{"cluster":"lepton","meshyd":false,"meshy-webapp":false,"channel_id":"={{ $json.channel_id }}","meshy":true,"meshyd-worker":true,"dcc-bpy":false,"dcc-houdini":false,"mechoux":false},"matchingColumns":[],"schema":[{"id":"cluster","displayName":"cluster","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"channel_id","displayName":"channel_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"meshy","displayName":"meshy","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"boolean","removed":false},{"id":"meshyd","displayName":"meshyd","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"boolean","removed":false},{"id":"meshyd-worker","displayName":"meshyd-worker","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"boolean","removed":false},{"id":"meshy-webapp","displayName":"meshy-webapp","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"boolean","removed":false},{"id":"dcc-bpy","displayName":"dcc-bpy","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"boolean","removed":false},{"id":"dcc-houdini","displayName":"dcc-houdini","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"boolean","removed":false},{"id":"mechoux","displayName":"mechoux","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"boolean","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[-1040,-120],"id":"c9473c60-656c-4aea-857d-803e2a8fab25","name":"Deploy lepton"},{"parameters":{"workflowId":{"__rl":true,"value":"5wCVdXpCNTB9yu66","mode":"list","cachedResultName":"sub-deploy"},"workflowInputs":{"mappingMode":"defineBelow","value":{"cluster":"z1","meshyd":false,"meshy-webapp":false,"channel_id":"={{ $json.channel_id }}","meshy":true,"meshyd-worker":true,"dcc-bpy":false,"dcc-houdini":false,"mechoux":false},"matchingColumns":[],"schema":[{"id":"cluster","displayName":"cluster","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"channel_id","displayName":"channel_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"meshy","displayName":"meshy","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"boolean","removed":false},{"id":"meshyd","displayName":"meshyd","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"boolean","removed":false},{"id":"meshyd-worker","displayName":"meshyd-worker","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"boolean","removed":false},{"id":"meshy-webapp","displayName":"meshy-webapp","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"boolean","removed":false},{"id":"dcc-bpy","displayName":"dcc-bpy","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"boolean","removed":false},{"id":"dcc-houdini","displayName":"dcc-houdini","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"boolean","removed":false},{"id":"mechoux","displayName":"mechoux","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"boolean","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[-840,-120],"id":"67d82a87-f407-4467-b424-9027de60c3a1","name":"Deploy z1"},{"parameters":{"workflowId":{"__rl":true,"value":"5wCVdXpCNTB9yu66","mode":"list","cachedResultName":"sub-deploy"},"workflowInputs":{"mappingMode":"defineBelow","value":{"cluster":"zillion2","meshyd":false,"meshy-webapp":false,"channel_id":"={{ $json.channel_id }}","meshy":true,"meshyd-worker":true,"dcc-bpy":false,"dcc-houdini":false,"mechoux":false},"matchingColumns":[],"schema":[{"id":"cluster","displayName":"cluster","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"channel_id","displayName":"channel_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"meshy","displayName":"meshy","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"boolean","removed":false},{"id":"meshyd","displayName":"meshyd","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"boolean","removed":false},{"id":"meshyd-worker","displayName":"meshyd-worker","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"boolean","removed":false},{"id":"meshy-webapp","displayName":"meshy-webapp","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"boolean","removed":false},{"id":"dcc-bpy","displayName":"dcc-bpy","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"boolean","removed":false},{"id":"dcc-houdini","displayName":"dcc-houdini","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"boolean","removed":false},{"id":"mechoux","displayName":"mechoux","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"boolean","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[-660,-120],"id":"d2111d35-6b4d-4d34-ba7c-9c54645ae179","name":"Deploy zillion2"},{"parameters":{"workflowId":{"__rl":true,"value":"5wCVdXpCNTB9yu66","mode":"list","cachedResultName":"sub-deploy"},"workflowInputs":{"mappingMode":"defineBelow","value":{"cluster":"aws","meshyd":true,"meshy-webapp":true,"channel_id":"={{ $json.channel_id }}","meshy":true,"meshyd-worker":false,"dcc-bpy":true,"dcc-houdini":true,"mechoux":true},"matchingColumns":[],"schema":[{"id":"cluster","displayName":"cluster","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"channel_id","displayName":"channel_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"meshy","displayName":"meshy","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"boolean","removed":false},{"id":"meshyd","displayName":"meshyd","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"boolean","removed":false},{"id":"meshyd-worker","displayName":"meshyd-worker","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"boolean","removed":false},{"id":"meshy-webapp","displayName":"meshy-webapp","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"boolean","removed":false},{"id":"dcc-bpy","displayName":"dcc-bpy","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"boolean","removed":false},{"id":"dcc-houdini","displayName":"dcc-houdini","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"boolean","removed":false},{"id":"mechoux","displayName":"mechoux","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"boolean","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[-480,-120],"id":"9102c907-fd8c-46d9-8a52-a0a3595a83fb","name":"Deploy aws"},{"parameters":{"workflowId":{"__rl":true,"value":"5wCVdXpCNTB9yu66","mode":"list","cachedResultName":"sub-deploy"},"workflowInputs":{"mappingMode":"defineBelow","value":{"cluster":"aws-2","meshyd":true,"meshy-webapp":true,"channel_id":"={{ $json.channel_id }}","meshy":true,"meshyd-worker":false,"dcc-bpy":true,"dcc-houdini":true},"matchingColumns":[],"schema":[{"id":"cluster","displayName":"cluster","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"channel_id","displayName":"channel_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"meshy","displayName":"meshy","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"boolean","removed":false},{"id":"meshyd","displayName":"meshyd","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"boolean","removed":false},{"id":"meshyd-worker","displayName":"meshyd-worker","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"boolean","removed":false},{"id":"meshy-webapp","displayName":"meshy-webapp","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"boolean","removed":false},{"id":"dcc-bpy","displayName":"dcc-bpy","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"boolean","removed":false},{"id":"dcc-houdini","displayName":"dcc-houdini","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"boolean","removed":false},{"id":"mechoux","displayName":"mechoux","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"boolean","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[-280,-120],"id":"621f93d5-169b-4112-9a26-b3d2de4f990a","name":"Deploy aws-2"}],"connections":{"Deploy Webhook":{"main":[[{"node":"Args","type":"main","index":0}]]},"Args":{"main":[[{"node":"Deploy lepton","type":"main","index":0}]]},"Deploy lepton":{"main":[[{"node":"Deploy z1","type":"main","index":0}]]},"Deploy z1":{"main":[[{"node":"Deploy zillion2","type":"main","index":0}]]},"Deploy zillion2":{"main":[[{"node":"Deploy aws","type":"main","index":0}]]},"Deploy aws":{"main":[[{"node":"Deploy aws-2","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"94fb8e38-807d-47ec-b80a-16b1467ad0bd","triggerCount":1,"shared":[{"createdAt":"2025-07-07T02:09:53.880Z","updatedAt":"2025-07-07T02:09:53.880Z","role":"workflow:owner","workflowId":"SfpC2kRoafAjlnLe","projectId":"jA0J1Ydudz3t9Nad","project":{"createdAt":"2025-06-26T09:34:51.351Z","updatedAt":"2025-06-26T09:37:01.737Z","id":"jA0J1Ydudz3t9Nad","name":"Meshy AI <cloud-admins@meshy.ai>","type":"personal","icon":null,"description":null,"projectRelations":[{"createdAt":"2025-06-26T09:34:51.351Z","updatedAt":"2025-06-26T09:34:51.351Z","role":"project:personalOwner","userId":"35043bb3-1b78-4ddc-8eb1-4498c37e073f","projectId":"jA0J1Ydudz3t9Nad","user":{"createdAt":"2025-06-26T09:34:50.409Z","updatedAt":"2025-07-08T09:36:34.003Z","id":"35043bb3-1b78-4ddc-8eb1-4498c37e073f","email":"cloud-admins@meshy.ai","firstName":"Meshy","lastName":"AI","personalizationAnswers":null,"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"5wCVdXpCNTB9yu66","userActivatedAt":1751967393973},"role":"global:owner","disabled":false,"mfaEnabled":false,"isPending":false}}]}}],"tags":[{"createdAt":"2025-07-08T09:29:54.890Z","updatedAt":"2025-07-08T09:29:54.890Z","id":"KyqggJVNX7rPfoZx","name":"Infra"},{"createdAt":"2025-07-15T06:56:24.125Z","updatedAt":"2025-07-15T06:56:24.125Z","id":"FWJrdcfQA921RwJa","name":"Prod"}]}