save_n8n/20250721_2025-07-21T07:41:57.332Z.json
{"createdAt":"2025-07-01T06:21:15.349Z","updatedAt":"2025-07-21T07:41:57.332Z","id":"zCHw3ovJueKDtPJi","name":"save_n8n","active":true,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"triggerAtHour":23}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[0,0],"id":"2d1fcdcb-0a45-4a2d-86db-9baba14f25d0","name":"Schedule Trigger"},{"parameters":{"url":"https://n8n.meshy.team/api/v1/workflows","sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"},{"name":"X-N8N-API-KEY","value":"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIzNTA0M2JiMy0xYjc4LTRkZGMtOGViMS00NDk4YzM3ZTA3M2YiLCJpc3MiOiJuOG4iLCJhdWQiOiJwdWJsaWMtYXBpIiwiaWF0IjoxNzUyNjUwNTgwLCJleHAiOjE3NTUyMzA0MDB9.pMMX1dCTj_8FSlToqrCEVwsSaQ_rHtijE1avn-Wbqdw"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[220,0],"id":"d981a2af-1b4d-4bb7-9245-851b3f718fcf","name":"HTTP Request"},{"parameters":{"url":"=https://n8n.meshy.team/api/v1/workflows/{{ $json.id }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"},{"name":"X-N8N-API-KEY","value":"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIzNTA0M2JiMy0xYjc4LTRkZGMtOGViMS00NDk4YzM3ZTA3M2YiLCJpc3MiOiJuOG4iLCJhdWQiOiJwdWJsaWMtYXBpIiwiaWF0IjoxNzUyNjUwNTgwLCJleHAiOjE3NTUyMzA0MDB9.pMMX1dCTj_8FSlToqrCEVwsSaQ_rHtijE1avn-Wbqdw"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[840,0],"id":"9b675a22-d25e-4d8c-9eec-94fb8b71d48d","name":"HTTP Request1"},{"parameters":{"jsCode":"const items = $input.first().json.data.map(w => ({ json: { id: w.id } }));\nreturn items;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[440,0],"id":"5a381807-4360-4966-be0d-7210c3f47a93","name":"Code"},{"parameters":{"resource":"file","owner":{"__rl":true,"value":"weimingniu","mode":"name"},"repository":{"__rl":true,"value":"n8n-workflow","mode":"name"},"filePath":"={{ $json.name }}/{{ new Date().getFullYear() }}{{ (new Date().getMonth() + 1).toString().padStart(2, '0') }}{{ new Date().getDate().toString().padStart(2, '0') }}_{{ $json.name }}.json","fileContent":"={{ JSON.stringify($json) }}","commitMessage":"=add {{ $json.updatedAt }}_{{ $json.name }}"},"type":"n8n-nodes-base.github","typeVersion":1.1,"position":[1160,0],"id":"2e86db1e-0cbd-47fd-ba30-0c1d842e1b05","name":"Create a file","webhookId":"504107d6-6251-4daf-a3f0-0e134e8fe8a1","credentials":{"githubApi":{"id":"UEsAKKoiFvIcgTR1","name":"github"}}}],"connections":{"Schedule Trigger":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Code","type":"main","index":0}]]},"Code":{"main":[[{"node":"HTTP Request1","type":"main","index":0}]]},"HTTP Request1":{"main":[[{"node":"Create a file","type":"main","index":0}]]},"Create a file":{"main":[[]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"586fc2d3-8058-4f2f-a404-7db51bf8e076","triggerCount":1,"shared":[{"createdAt":"2025-07-01T06:21:15.349Z","updatedAt":"2025-07-01T06:21:15.349Z","role":"workflow:owner","workflowId":"zCHw3ovJueKDtPJi","projectId":"jA0J1Ydudz3t9Nad","project":{"createdAt":"2025-06-26T09:34:51.351Z","updatedAt":"2025-06-26T09:37:01.737Z","id":"jA0J1Ydudz3t9Nad","name":"Meshy AI <cloud-admins@meshy.ai>","type":"personal","icon":null,"description":null,"projectRelations":[{"createdAt":"2025-06-26T09:34:51.351Z","updatedAt":"2025-06-26T09:34:51.351Z","role":"project:personalOwner","userId":"35043bb3-1b78-4ddc-8eb1-4498c37e073f","projectId":"jA0J1Ydudz3t9Nad","user":{"createdAt":"2025-06-26T09:34:50.409Z","updatedAt":"2025-07-08T09:36:34.003Z","id":"35043bb3-1b78-4ddc-8eb1-4498c37e073f","email":"cloud-admins@meshy.ai","firstName":"Meshy","lastName":"AI","personalizationAnswers":null,"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"5wCVdXpCNTB9yu66","userActivatedAt":1751967393973},"role":"global:owner","disabled":false,"mfaEnabled":false,"isPending":false}}]}}],"tags":[]}