deploy-specific-cluster/20250811_2025-08-11T03:59:29.370Z.json
{"createdAt":"2025-07-02T06:45:18.125Z","updatedAt":"2025-08-11T03:59:29.370Z","id":"5wCVdXpCNTB9yu66","name":"deploy-specific-cluster","active":false,"isArchived":false,"nodes":[{"parameters":{"select":"channel","channelId":{"__rl":true,"value":"={{ $('deploy-specific-cluster').item.json.channel_id }}","mode":"id"},"text":"Deployment failed.","otherOptions":{"includeLinkToWorkflow":false}},"type":"n8n-nodes-base.slack","typeVersion":2.3,"position":[1780,520],"id":"939aea1c-eb03-4934-b2d5-2b0cd3a27b51","name":"发布失败","webhookId":"3bd6f117-576e-4aa1-9456-1851d8e36a3f","credentials":{"slackApi":{"id":"13OIerzhWzMlwQJL","name":"Slack account"}}},{"parameters":{"authentication":"privateKey","command":"=#!/bin/bash -xe\n\nexport KUBECONFIG=/home/runner/deployments/k8s/environ/{{ $('deploy-specific-cluster').item.json.cluster }}/kubeconfig.yaml\n\nfor name in /tmp/n8n/*; do\n  deploy_name=$(basename \"$name\")\n  target_num=$(cat $name)\n  echo \"Scaling up deployment $deploy_name to $target_num\"\n  kubectl -n meshyd scale deployment \"$deploy_name\" --replicas=$target_num\n  rm -f $name\ndone","cwd":"/home/runner/deployments/k8s"},"type":"n8n-nodes-base.ssh","typeVersion":1,"position":[2380,-20],"id":"2469c2e6-3099-4853-89ab-6404a08155fa","name":"Scaleup","credentials":{"sshPrivateKey":{"id":"WgzpY7I2E0hvAmm1","name":"runner@n8n-runner-aws"}}},{"parameters":{"select":"channel","channelId":{"__rl":true,"value":"={{ $('deploy-specific-cluster').item.json.channel_id }}","mode":"id"},"messageType":"attachment","attachments":[{"author_icon":"https://github.com/n8n-io.png?size=32","author_name":"n8n-runner","author_link":"https://n8n.meshy.team/workflow/0noJUHSrpVMqRF3B","fallback":"=:everydayonecat-rocket: All deployment tasks have been successfully completed on `{{ $('deploy-specific-cluster').item.json.cluster }}`.","fields":{"item":[{"title":"Message","value":"=:everydayonecat-rocket: All deployment tasks have been successfully completed on `{{ $('deploy-specific-cluster').item.json.cluster }}`.","short":false}]},"color":"good","footer":"=<https://n8n.meshy.team|Powered By n8n.meshy.team> | <https://n8n.meshy.team/workflow/{{ $workflow.id }}/executions/{{ $execution.id }}|Triggered on this workflow run>"}],"otherOptions":{"includeLinkToWorkflow":false}},"type":"n8n-nodes-base.slack","typeVersion":2.3,"position":[2960,200],"id":"c1d46ca6-ad3a-44e1-9c9f-1799736a5f0f","name":"部署完成","webhookId":"2eb65517-dd80-4385-941a-52c1944b8718","credentials":{"slackApi":{"id":"13OIerzhWzMlwQJL","name":"Slack account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"610baf22-df7d-4653-a2d8-5b285f01fec0","leftValue":"={{ $json.ok }}","rightValue":0,"operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1240,200],"id":"c7559c70-04be-4dcf-aafe-1f6420b7f84f","name":"Deploy success"},{"parameters":{"authentication":"privateKey","command":"=#!/bin/bash -xe\n\nsleep 60\n\nexport KUBECONFIG=/home/runner/deployments/k8s/environ/{{ $('deploy-specific-cluster').item.json.cluster }}/kubeconfig.yaml\n\nfor name in /tmp/n8n/*; do\n  deploy_name=$(basename \"$name\")\n  echo \"Scaling up deployment $deploy_name to 1\"\n  kubectl -n meshyd scale deployment \"$deploy_name\" --replicas=1\ndone","cwd":"/home/runner/deployments/k8s"},"type":"n8n-nodes-base.ssh","typeVersion":1,"position":[1940,-20],"id":"2e953f35-f10f-4505-96dd-142e9187a55b","name":"scale to 1","credentials":{"sshPrivateKey":{"id":"WgzpY7I2E0hvAmm1","name":"runner@n8n-runner-aws"}}},{"parameters":{"operation":"sendAndWait","select":"channel","channelId":{"__rl":true,"value":"={{ $('deploy-specific-cluster').item.json.channel_id }}","mode":"id"},"message":":heavy_check_mark: Meshyd workers deployments scaled to 1.\\n Please manually verify that the requests are functioning properly.","approvalOptions":{"values":{"approveLabel":"Confirmed"}},"options":{"limitWaitTime":{"values":{"resumeAmount":12}}}},"type":"n8n-nodes-base.slack","typeVersion":2.3,"position":[2160,-20],"id":"38acdfaa-e4d7-4f73-bc40-029b2b2f1776","name":"Send message and wait for response","webhookId":"b4613c7a-d8dd-4d36-b28e-4d7cd9b70439","credentials":{"slackApi":{"id":"13OIerzhWzMlwQJL","name":"Slack account"}}},{"parameters":{"select":"channel","channelId":{"__rl":true,"value":"={{ $('deploy-specific-cluster').item.json.channel_id }}","mode":"id"},"text":":heavy_check_mark: Meshyd workers have been scaled to the target number of replicas.","otherOptions":{"includeLinkToWorkflow":false}},"type":"n8n-nodes-base.slack","typeVersion":2.3,"position":[2580,-20],"id":"dd0a5881-383e-4a1a-8af1-726955c33e8e","name":"Send scaleup","webhookId":"0e0a761f-c868-4dfb-8d71-eccebdf4452d","credentials":{"slackApi":{"id":"13OIerzhWzMlwQJL","name":"Slack account"}}},{"parameters":{"workflowId":{"__rl":true,"value":"iyLKdIje6pVmSHuQ","mode":"list","cachedResultName":"deployer"},"workflowInputs":{"mappingMode":"defineBelow","value":{"channel_id":"={{ $json.channel_id }}","environ":"={{ $json.cluster }}","app":"={{ $json.service }}"},"matchingColumns":[],"schema":[{"id":"enable","displayName":"enable","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"boolean","removed":true},{"id":"channel_id","displayName":"channel_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"app","displayName":"app","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"environ","displayName":"environ","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[820,380],"id":"610a0952-6d42-4a52-95ca-fa1f880736ae","name":"sub-deploy-meshy"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"e1d17f06-4a31-4c2c-b23c-ffde3abb2dc7","leftValue":"={{ $('deploy-specific-cluster').item.json['meshyd-worker'] }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1600,180],"id":"39932a97-c45f-43ff-a413-860d060932bf","name":"if deployed meshyd-worker"},{"parameters":{"inputSource":"jsonExample","jsonExample":"{\n    \"channel_id\": \"\",\n    \"cluster\": \"\",\n    \"services\": []\n}"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-2200,280],"id":"97233895-80fa-47f5-bfb8-aa15c6b2f2a2","name":"deploy-specific-cluster"},{"parameters":{"url":"=https://api.day.app/ZAN22m4gq5TVGETXGEMNNS/ready-to-deploy-{{ $json.cluster }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-2020,280],"id":"0febed20-a628-429c-8e23-f520f4355e11","name":"notify"},{"parameters":{"operation":"sendAndWait","select":"channel","channelId":{"__rl":true,"value":"={{ $('deploy-specific-cluster').item.json.channel_id }}","mode":"id"},"message":"=Starting to deploy the service to the `{{ $('deploy-specific-cluster').item.json.cluster }}` cluster. Confirm to proceed?","approvalOptions":{"values":{"approvalType":"double","disapproveLabel":"Skip"}},"options":{"limitWaitTime":{"values":{"resumeAmount":12}}}},"type":"n8n-nodes-base.slack","typeVersion":2.3,"position":[-1840,280],"id":"75fe6378-0c51-4d6e-bad3-3a684caddd0a","name":"approval-request","webhookId":"8063b0bc-a08f-4aae-ba63-044db83a8d7d","credentials":{"slackApi":{"id":"13OIerzhWzMlwQJL","name":"Slack account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"8aa7c2f5-73a9-44e2-91e5-1ca85f3a15bf","leftValue":"={{ $json.data.approved }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1660,280],"id":"5763edee-510f-4ad2-a8ae-ee799e24b8bc","name":"if-true"},{"parameters":{"select":"channel","channelId":{"__rl":true,"value":"={{ $('deploy-specific-cluster').item.json.channel_id }}","mode":"id"},"text":"=:information_source: Skipped the `{{ $('deploy-specific-cluster').item.json.cluster }}` cluster. ","otherOptions":{"includeLinkToWorkflow":false}},"type":"n8n-nodes-base.slack","typeVersion":2.3,"position":[-1380,500],"id":"976ae387-3037-4799-a662-15e174dd4e82","name":"send-skip","webhookId":"28db2c7c-95a4-4f0c-a243-7d9574448f92","credentials":{"slackApi":{"id":"13OIerzhWzMlwQJL","name":"Slack account"}}},{"parameters":{"authentication":"privateKey","command":"git reset --hard\ngit clean -fdx\ngit pull origin main","cwd":"/home/runner/deployments"},"type":"n8n-nodes-base.ssh","typeVersion":1,"position":[-1380,260],"id":"5efc0090-e874-4c2d-8571-d41f729f72cb","name":"update-deployments-repository","credentials":{"sshPrivateKey":{"id":"WgzpY7I2E0hvAmm1","name":"runner@n8n-runner-aws"}}},{"parameters":{"authentication":"privateKey","command":"=export KUBECONFIG=/home/runner/deployments/k8s/environ/{{ $('deploy-specific-cluster').item.json.cluster }}/kubeconfig.yaml\n\nkubectl -n noded rollout status daemonset/prepull --timeout 300s","cwd":"/home/runner"},"type":"n8n-nodes-base.ssh","typeVersion":1,"position":[-1160,260],"id":"2a79b278-f053-442b-bfb9-48f097a505b5","name":"wait-for-prepull-available","credentials":{"sshPrivateKey":{"id":"WgzpY7I2E0hvAmm1","name":"runner@n8n-runner-aws"}}},{"parameters":{"select":"channel","channelId":{"__rl":true,"value":"={{ $('deploy-specific-cluster').item.json.channel_id }}","mode":"id"},"text":"=:heavy_check_mark: Pre-pull is ready. proceeding to the next step.","otherOptions":{"includeLinkToWorkflow":false}},"type":"n8n-nodes-base.slack","typeVersion":2.3,"position":[-960,260],"id":"d5ac21dd-1ea0-4348-872a-72792f5089bf","name":"send-prepull-ready","webhookId":"149e4ff1-cd9f-40ea-9f72-2f2761382ba4","credentials":{"slackApi":{"id":"13OIerzhWzMlwQJL","name":"Slack account"}}},{"parameters":{"jsCode":"const config = [];\nfor (const service of $('deploy-specific-cluster').first().json.services) {\n\tconfig.push({\n\t\tjson: {\n\t\t\t\"channel_id\": $('deploy-specific-cluster').first().json.channel_id,\n\t\t\t\"cluster\": $('deploy-specific-cluster').first().json.cluster,\n\t\t\t\"service\": service,\n\t\t}\n\t})\n}\n\nreturn config;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[240,280],"id":"60c772bd-99b3-47d4-aa9f-0e5b028c693e","name":"prepare-cluster-services"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[580,280],"id":"1df92fbf-3f05-4ac1-83a9-dec10b3b1fc4","name":"loop-deploy-service","executeOnce":false},{"parameters":{"aggregate":"aggregateAllItemData","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[1000,200],"id":"66392e2a-dc5c-49a9-969b-40a3fff0d973","name":"Aggregate"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"f511d7ca-e805-46ac-ae70-2396c82be325","leftValue":"={{ $('deploy-specific-cluster').item.json.services }}","rightValue":"meshyd-worker","operator":{"type":"array","operation":"contains","rightType":"any"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-740,260],"id":"c63966e3-ae67-4b47-ae4a-d9a3fe6d8318","name":"if-contains-meshyd-worker"},{"parameters":{"authentication":"privateKey","command":"=export KUBECONFIG=/home/runner/deployments/k8s/environ/{{ $('deploy-specific-cluster').item.json.cluster }}/kubeconfig.yaml\n\nmkdir -p /tmp/n8n/{{ $('deploy-specific-cluster').item.json.cluster }}\n\nkubectl -n meshyd get deployment -l app.kubernetes.io/name=meshyd-worker \\\n  -o custom-columns=\"NAME:.metadata.name,AVAILABLE:.status.replicas\" --no-headers | \\\nwhile read name available; do\n  echo \"$available\" > \"/tmp/n8n/{{ $('deploy-specific-cluster').item.json.cluster }}/$name\"\ndone","cwd":"/home/runner/deployments/k8s"},"type":"n8n-nodes-base.ssh","typeVersion":1,"position":[-460,80],"id":"98d36f4d-59b1-49fc-b37f-9dfa1ee53b1a","name":"store-meshyd-workers-replicas","alwaysOutputData":true,"credentials":{"sshPrivateKey":{"id":"WgzpY7I2E0hvAmm1","name":"runner@n8n-runner-aws"}},"onError":"continueRegularOutput"},{"parameters":{"authentication":"privateKey","command":"=export KUBECONFIG=/home/runner/deployments/k8s/environ/{{ $('deploy-specific-cluster').item.json.cluster }}/kubeconfig.yaml\n\nfor name in /tmp/n8n/*; do\n  deploy_name=$(basename \"$name\")\n  echo \"Scaling down deployment $deploy_name to 0 from $(cat $name)\"\n  kubectl -n meshyd scale deployment \"$deploy_name\" --replicas=0\ndone","cwd":"/home/runner/deployments/k8s"},"type":"n8n-nodes-base.ssh","typeVersion":1,"position":[-260,80],"id":"abc20377-dc67-410b-960d-7e6af5de6034","name":"scale-down-workers","credentials":{"sshPrivateKey":{"id":"WgzpY7I2E0hvAmm1","name":"runner@n8n-runner-aws"}}},{"parameters":{"select":"channel","channelId":{"__rl":true,"value":"={{ $('deploy-specific-cluster').item.json.channel_id }}","mode":"id"},"text":"=:heavy_check_mark: Meshyd workers on `{{ $('deploy-specific-cluster').item.json.cluster }}` scaled down to 0. Starting deploy process","otherOptions":{"includeLinkToWorkflow":false}},"type":"n8n-nodes-base.slack","typeVersion":2.3,"position":[-60,80],"id":"d1f0b466-b1db-4730-b275-ce105e8f39a8","name":"send-scale-success","webhookId":"a17a607b-8e9a-4bc1-b8d4-c9f20fda0129","credentials":{"slackApi":{"id":"13OIerzhWzMlwQJL","name":"Slack account"}}}],"connections":{"Scaleup":{"main":[[{"node":"Send scaleup","type":"main","index":0}]]},"部署完成":{"main":[[]]},"Deploy success":{"main":[[{"node":"if deployed meshyd-worker","type":"main","index":0}],[{"node":"发布失败","type":"main","index":0}]]},"scale to 1":{"main":[[{"node":"Send message and wait for response","type":"main","index":0}]]},"Send message and wait for response":{"main":[[{"node":"Scaleup","type":"main","index":0}]]},"Send scaleup":{"main":[[{"node":"部署完成","type":"main","index":0}]]},"sub-deploy-meshy":{"main":[[{"node":"loop-deploy-service","type":"main","index":0}]]},"if deployed meshyd-worker":{"main":[[{"node":"scale to 1","type":"main","index":0}],[{"node":"部署完成","type":"main","index":0}]]},"deploy-specific-cluster":{"main":[[{"node":"notify","type":"main","index":0}]]},"notify":{"main":[[{"node":"approval-request","type":"main","index":0}]]},"approval-request":{"main":[[{"node":"if-true","type":"main","index":0}]]},"if-true":{"main":[[{"node":"update-deployments-repository","type":"main","index":0}],[{"node":"send-skip","type":"main","index":0}]]},"update-deployments-repository":{"main":[[{"node":"wait-for-prepull-available","type":"main","index":0}]]},"wait-for-prepull-available":{"main":[[{"node":"send-prepull-ready","type":"main","index":0}]]},"send-prepull-ready":{"main":[[{"node":"if-contains-meshyd-worker","type":"main","index":0}]]},"prepare-cluster-services":{"main":[[{"node":"loop-deploy-service","type":"main","index":0}]]},"loop-deploy-service":{"main":[[{"node":"Aggregate","type":"main","index":0}],[{"node":"sub-deploy-meshy","type":"main","index":0}]]},"Aggregate":{"main":[[{"node":"Deploy success","type":"main","index":0}]]},"if-contains-meshyd-worker":{"main":[[{"node":"store-meshyd-workers-replicas","type":"main","index":0}],[{"node":"prepare-cluster-services","type":"main","index":0}]]},"store-meshyd-workers-replicas":{"main":[[{"node":"scale-down-workers","type":"main","index":0}],[]]},"scale-down-workers":{"main":[[{"node":"send-scale-success","type":"main","index":0}]]},"send-scale-success":{"main":[[{"node":"prepare-cluster-services","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","saveExecutionProgress":true,"callerPolicy":"workflowsFromSameOwner","executionTimeout":3600},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"deploy-specific-cluster":[{"json":{"channel_id":"C07UEPMC3ST","cluster":"z1","services":["meshy","meshyd-worker"]}}]},"versionId":"c6826116-d638-491b-8e41-0e42f89b3480","triggerCount":0,"shared":[{"createdAt":"2025-07-02T06:45:18.125Z","updatedAt":"2025-07-02T06:45:18.125Z","role":"workflow:owner","workflowId":"5wCVdXpCNTB9yu66","projectId":"jA0J1Ydudz3t9Nad","project":{"createdAt":"2025-06-26T09:34:51.351Z","updatedAt":"2025-06-26T09:37:01.737Z","id":"jA0J1Ydudz3t9Nad","name":"Meshy AI <cloud-admins@meshy.ai>","type":"personal","icon":null,"description":null,"projectRelations":[{"createdAt":"2025-06-26T09:34:51.351Z","updatedAt":"2025-06-26T09:34:51.351Z","role":"project:personalOwner","userId":"35043bb3-1b78-4ddc-8eb1-4498c37e073f","projectId":"jA0J1Ydudz3t9Nad","user":{"createdAt":"2025-06-26T09:34:50.409Z","updatedAt":"2025-07-08T09:36:34.003Z","id":"35043bb3-1b78-4ddc-8eb1-4498c37e073f","email":"cloud-admins@meshy.ai","firstName":"Meshy","lastName":"AI","personalizationAnswers":null,"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"5wCVdXpCNTB9yu66","userActivatedAt":1751967393973},"role":"global:owner","disabled":false,"mfaEnabled":false,"isPending":false}}]}}],"tags":[{"createdAt":"2025-07-08T09:29:54.890Z","updatedAt":"2025-07-08T09:29:54.890Z","id":"KyqggJVNX7rPfoZx","name":"Infra"},{"createdAt":"2025-07-15T06:56:24.125Z","updatedAt":"2025-07-15T06:56:24.125Z","id":"FWJrdcfQA921RwJa","name":"Prod"},{"createdAt":"2025-07-16T02:53:31.564Z","updatedAt":"2025-07-16T02:53:31.564Z","id":"KMYpD8C8o3LAaanS","name":"SubWorkflow"}]}