deploy-specific-app/20250820_2025-08-14T05:36:26.297Z.json
{"createdAt":"2025-07-16T02:53:12.249Z","updatedAt":"2025-08-14T05:36:26.297Z","id":"iyLKdIje6pVmSHuQ","name":"deploy-specific-app","active":false,"isArchived":false,"nodes":[{"parameters":{"authentication":"privateKey","command":"=source /home/runner/venv/bin/activate\n\n/home/runner/deployments/k8s/deploy --environ {{ $('execute-deploy-specified-service').item.json.environ }} --app {{ $('execute-deploy-specified-service').item.json.app }} deploy ","cwd":"/home/runner/deployments"},"type":"n8n-nodes-base.ssh","typeVersion":1,"position":[-380,-80],"id":"e0cf0870-a897-44a2-9bab-f19fcdc5a30d","name":"deploy-app","credentials":{"sshPrivateKey":{"id":"WgzpY7I2E0hvAmm1","name":"runner@n8n-runner-aws"}}},{"parameters":{"authentication":"privateKey","command":"=sleep 10\n\nKUBECONFIG=/home/runner/deployments/k8s/environ/{{ $('execute-deploy-specified-service').item.json.environ }}/kubeconfig.yaml kubectl -n meshyd wait --for=condition=ready pod -l app.kubernetes.io/name={{ $('execute-deploy-specified-service').item.json.app }} --timeout=300s"},"type":"n8n-nodes-base.ssh","typeVersion":1,"position":[120,-100],"id":"20baaba6-5fbc-4984-8e5b-f716c1a52523","name":"wait-for-pods-ready","credentials":{"sshPrivateKey":{"id":"WgzpY7I2E0hvAmm1","name":"runner@n8n-runner-aws"}}},{"parameters":{"inputSource":"jsonExample","jsonExample":"{\n    \"app\": \"\",\n    \"channel_id\": \"\",\n    \"environ\": \"\"\n}"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-600,-80],"id":"bf61603a-75b8-409d-a96e-29f45e50be88","name":"execute-deploy-specified-service"},{"parameters":{"select":"channel","channelId":{"__rl":true,"value":"={{ $('execute-deploy-specified-service').item.json.channel_id }}","mode":"id"},"text":"=:kubecat: `{{ $('execute-deploy-specified-service').item.json.app }}` deployed successfully on `{{ $('execute-deploy-specified-service').item.json.environ }}`.","otherOptions":{"includeLinkToWorkflow":false}},"type":"n8n-nodes-base.slack","typeVersion":2.3,"position":[400,-100],"id":"8e4811af-1ea6-4a72-a6c2-9bb5f52b6f47","name":"send-success","webhookId":"47dac6d7-1959-458a-8737-beae76b16a16","credentials":{"slackApi":{"id":"13OIerzhWzMlwQJL","name":"Slack account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"da1d366b-eb43-464a-9a98-dd62e2c85754","leftValue":"={{ $json.code }}","rightValue":0,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-180,-80],"id":"57dae37b-a809-4dd3-82e6-75fc31e06a5e","name":"if-deploy-success"},{"parameters":{"select":"channel","channelId":{"__rl":true,"value":"={{ $('execute-deploy-specified-service').item.json.channel_id }}","mode":"id"},"text":"=:x: `{{ $('execute-deploy-specified-service').item.json.app }}` deploy failed on `{{ $('execute-deploy-specified-service').item.json.environ }}`.","otherOptions":{"includeLinkToWorkflow":false}},"type":"n8n-nodes-base.slack","typeVersion":2.3,"position":[200,120],"id":"faa61f66-1260-471e-be66-1f98638d9753","name":"send-failed","webhookId":"47dac6d7-1959-458a-8737-beae76b16a16","credentials":{"slackApi":{"id":"13OIerzhWzMlwQJL","name":"Slack account"}}}],"connections":{"deploy-app":{"main":[[{"node":"if-deploy-success","type":"main","index":0}]]},"execute-deploy-specified-service":{"main":[[{"node":"deploy-app","type":"main","index":0}]]},"wait-for-pods-ready":{"main":[[{"node":"send-success","type":"main","index":0}]]},"if-deploy-success":{"main":[[{"node":"wait-for-pods-ready","type":"main","index":0}],[{"node":"send-failed","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"execute-deploy-specified-service":[{"json":{"enable":true,"channel_id":"C096JMM6PJ4","app":"dcc-houdini","environ":"aws-2"}}]},"versionId":"e9360dc1-ee5f-4bf0-9371-a93b483b1baf","triggerCount":0,"shared":[{"createdAt":"2025-07-16T02:53:12.249Z","updatedAt":"2025-07-16T02:53:12.249Z","role":"workflow:owner","workflowId":"iyLKdIje6pVmSHuQ","projectId":"jA0J1Ydudz3t9Nad","project":{"createdAt":"2025-06-26T09:34:51.351Z","updatedAt":"2025-06-26T09:37:01.737Z","id":"jA0J1Ydudz3t9Nad","name":"Meshy AI <cloud-admins@meshy.ai>","type":"personal","icon":null,"description":null,"projectRelations":[{"createdAt":"2025-06-26T09:34:51.351Z","updatedAt":"2025-06-26T09:34:51.351Z","role":"project:personalOwner","userId":"35043bb3-1b78-4ddc-8eb1-4498c37e073f","projectId":"jA0J1Ydudz3t9Nad","user":{"createdAt":"2025-06-26T09:34:50.409Z","updatedAt":"2025-07-08T09:36:34.003Z","id":"35043bb3-1b78-4ddc-8eb1-4498c37e073f","email":"cloud-admins@meshy.ai","firstName":"Meshy","lastName":"AI","personalizationAnswers":null,"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"5wCVdXpCNTB9yu66","userActivatedAt":1751967393973},"role":"global:owner","disabled":false,"mfaEnabled":false,"isPending":false}}]}}],"tags":[{"createdAt":"2025-07-08T09:29:54.890Z","updatedAt":"2025-07-08T09:29:54.890Z","id":"KyqggJVNX7rPfoZx","name":"Infra"},{"createdAt":"2025-07-15T06:56:24.125Z","updatedAt":"2025-07-15T06:56:24.125Z","id":"FWJrdcfQA921RwJa","name":"Prod"},{"createdAt":"2025-07-16T02:53:31.564Z","updatedAt":"2025-07-16T02:53:31.564Z","id":"KMYpD8C8o3LAaanS","name":"SubWorkflow"}]}