[Production] Meshy pre-pull/20250813_2025-08-11T05:24:59.778Z.json
{"createdAt":"2025-07-15T06:56:17.655Z","updatedAt":"2025-08-11T05:24:59.778Z","id":"FgL3xvjzMKchlHlB","name":"[Production] Meshy pre-pull","active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"pre-pull","authentication":"basicAuth","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-1380,-380],"id":"ce450c40-c8ab-4aac-9163-211eba66b5b5","name":"Webhook","webhookId":"5af172e7-b34b-4505-bc42-498b3f856ff8","credentials":{"httpBasicAuth":{"id":"zCyiNApZdOriY4aO","name":"basic-auth"}}},{"parameters":{"jsCode":"const channel_id = $('args').first().json.channel_id;\n\nreturn $('args').first().json.clusters.map(cluster => ({json: {channel_id, cluster}}));\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-720,-380],"id":"aa73bdea-8245-4aa7-af0a-1f3cb4ab7db4","name":"clusters-prepull-config"},{"parameters":{"operation":"sendAndWait","select":"channel","channelId":{"__rl":true,"value":"={{ $json.channel_id }}","mode":"id"},"message":"The `pre-pull` command will be executed on all clusters. Confirm to proceed?","approvalOptions":{"values":{"approvalType":"double"}},"options":{"limitWaitTime":{"values":{"resumeAmount":12}}}},"type":"n8n-nodes-base.slack","typeVersion":2.3,"position":[-940,-380],"id":"95b24d36-2140-4fe7-9569-9f60fc55510c","name":"confirm-to-proceed","webhookId":"0abdc3b3-8776-45ee-ad09-f20ab720b12e","credentials":{"slackApi":{"id":"13OIerzhWzMlwQJL","name":"Slack account"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-500,-380],"id":"8665c849-5e20-47ab-8693-083281791131","name":"loop-clusters"},{"parameters":{"mode":"raw","jsonOutput":"{\n    \"channel_id\": \"C096JMM6PJ4\",\n    \"clusters\":\n    [\n        \"z1\",\n        \"zillion2\",\n        \"aws\",\n        \"aws-2\"\n    ]\n}","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1160,-380],"id":"ac32596b-5c2b-4a19-8f09-fe2f771a841c","name":"args"},{"parameters":{"workflowId":{"__rl":true,"value":"cWVXYRtMUZBHlSd3","mode":"list","cachedResultName":"prepull-on-specific-cluster"},"workflowInputs":{"mappingMode":"defineBelow","value":{"channel_id":"={{ $json.channel_id }}","cluster":"={{ $json.cluster }}"},"matchingColumns":["cluster"],"schema":[{"id":"cluster","displayName":"cluster","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"channel_id","displayName":"channel_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[-220,-280],"id":"ec2b1d13-4ec0-450e-8bd8-787174df72ae","name":"prepull-on-specific-cluster"}],"connections":{"Webhook":{"main":[[{"node":"args","type":"main","index":0}]]},"clusters-prepull-config":{"main":[[{"node":"loop-clusters","type":"main","index":0}]]},"confirm-to-proceed":{"main":[[{"node":"clusters-prepull-config","type":"main","index":0}]]},"loop-clusters":{"main":[[],[{"node":"prepull-on-specific-cluster","type":"main","index":0}]]},"args":{"main":[[{"node":"confirm-to-proceed","type":"main","index":0}]]},"prepull-on-specific-cluster":{"main":[[{"node":"loop-clusters","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Webhook":[{"json":{"headers":{"host":"n8n.meshy.team","user-agent":"python-requests/2.32.3","content-length":"0","accept":"*/*","accept-encoding":"gzip, deflate","authorization":"Basic c2xhY2tib3Q6c2xhY2tib3Q=","x-amzn-trace-id":"Root=1-68997975-2dc4c77063571f255bbfe191","x-forwarded-for":"54.71.120.90, 10.2.4.179","x-forwarded-host":"n8n.meshy.team","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"traefik-69878cc8f5-7gst2","x-real-ip":"10.2.4.179"},"params":{},"query":{},"body":{},"webhookUrl":"https://n8n.meshy.team/webhook/pre-pull","executionMode":"production"}}]},"versionId":"0b739b83-1b6e-4f5f-b758-449ebd31e0ce","triggerCount":1,"shared":[{"createdAt":"2025-07-15T06:56:17.655Z","updatedAt":"2025-07-15T06:56:17.655Z","role":"workflow:owner","workflowId":"FgL3xvjzMKchlHlB","projectId":"jA0J1Ydudz3t9Nad","project":{"createdAt":"2025-06-26T09:34:51.351Z","updatedAt":"2025-06-26T09:37:01.737Z","id":"jA0J1Ydudz3t9Nad","name":"Meshy AI <cloud-admins@meshy.ai>","type":"personal","icon":null,"description":null,"projectRelations":[{"createdAt":"2025-06-26T09:34:51.351Z","updatedAt":"2025-06-26T09:34:51.351Z","role":"project:personalOwner","userId":"35043bb3-1b78-4ddc-8eb1-4498c37e073f","projectId":"jA0J1Ydudz3t9Nad","user":{"createdAt":"2025-06-26T09:34:50.409Z","updatedAt":"2025-07-08T09:36:34.003Z","id":"35043bb3-1b78-4ddc-8eb1-4498c37e073f","email":"cloud-admins@meshy.ai","firstName":"Meshy","lastName":"AI","personalizationAnswers":null,"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"5wCVdXpCNTB9yu66","userActivatedAt":1751967393973},"role":"global:owner","disabled":false,"mfaEnabled":false,"isPending":false}}]}}],"tags":[{"createdAt":"2025-07-08T09:29:54.890Z","updatedAt":"2025-07-08T09:29:54.890Z","id":"KyqggJVNX7rPfoZx","name":"Infra"},{"createdAt":"2025-07-15T06:56:24.125Z","updatedAt":"2025-07-15T06:56:24.125Z","id":"FWJrdcfQA921RwJa","name":"Prod"}]}