Batch eval/20250818_2025-08-16T06:59:35.626Z.json
{"createdAt":"2025-08-15T14:13:32.731Z","updatedAt":"2025-08-16T06:59:35.626Z","id":"XfWoECnQ8VnCPetc","name":"Batch eval","active":false,"isArchived":false,"nodes":[{"parameters":{"mode":"raw","jsonOutput":"{\n\t\"servering_host\": \"10.18.8.120\",\n\t\"servering_port\": 30080,\n\t\"concurrent\": 8\n}","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-240,-20],"id":"7e163028-b60e-4047-a355-7aa037a2af59","name":"Args"},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-460,-20],"id":"85d9f323-5586-4dbd-ad3b-faf9a394eff7","name":"Generate"},{"parameters":{"authentication":"privateKey","command":"=source /home/runner/muse/batch_eval/.venv/bin/activate\n\npython3 img3d_batch.py -i /home/runner/batch-output/output_20250811_170752 --texture --serving-host {{ $json.servering_host }} --serving-port {{ $json.servering_port }} --concurrent-jobs {{ $json.concurrent }}","cwd":"/home/runner/muse/batch_eval"},"type":"n8n-nodes-base.ssh","typeVersion":1,"position":[-20,-20],"id":"e375cca1-6870-43a7-9a7d-722d31676f87","name":"texture5.1","credentials":{"sshPrivateKey":{"id":"hbQ0SL5G07trSaPf","name":"runner@n8n-runner"}}}],"connections":{"Args":{"main":[[{"node":"texture5.1","type":"main","index":0}]]},"Generate":{"main":[[{"node":"Args","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"8c51a390-9e32-4e71-a9eb-2347e9b086f4","triggerCount":0,"shared":[{"createdAt":"2025-08-15T14:13:32.731Z","updatedAt":"2025-08-15T14:13:32.731Z","role":"workflow:owner","workflowId":"XfWoECnQ8VnCPetc","projectId":"jA0J1Ydudz3t9Nad","project":{"createdAt":"2025-06-26T09:34:51.351Z","updatedAt":"2025-06-26T09:37:01.737Z","id":"jA0J1Ydudz3t9Nad","name":"Meshy AI <cloud-admins@meshy.ai>","type":"personal","icon":null,"description":null,"projectRelations":[{"createdAt":"2025-06-26T09:34:51.351Z","updatedAt":"2025-06-26T09:34:51.351Z","role":"project:personalOwner","userId":"35043bb3-1b78-4ddc-8eb1-4498c37e073f","projectId":"jA0J1Ydudz3t9Nad","user":{"createdAt":"2025-06-26T09:34:50.409Z","updatedAt":"2025-07-08T09:36:34.003Z","id":"35043bb3-1b78-4ddc-8eb1-4498c37e073f","email":"cloud-admins@meshy.ai","firstName":"Meshy","lastName":"AI","personalizationAnswers":null,"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"5wCVdXpCNTB9yu66","userActivatedAt":1751967393973},"role":"global:owner","disabled":false,"mfaEnabled":false,"isPending":false}}]}}],"tags":[]}