Meshy Prod pre-pull workflow/20250730_2025-07-24T03:22:14.522Z.json
{"createdAt":"2025-07-15T06:56:17.655Z","updatedAt":"2025-07-24T03:22:14.522Z","id":"FgL3xvjzMKchlHlB","name":"Meshy Prod pre-pull workflow","active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"pre-pull","authentication":"basicAuth","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-760,-240],"id":"ce450c40-c8ab-4aac-9163-211eba66b5b5","name":"Webhook","webhookId":"5af172e7-b34b-4505-bc42-498b3f856ff8","credentials":{"httpBasicAuth":{"id":"zCyiNApZdOriY4aO","name":"basic-auth"}}},{"parameters":{"operation":"sendAndWait","select":"channel","channelId":{"__rl":true,"value":"={{ $('Args').item.json.channel_id }}","mode":"id"},"message":"The `pre-pull` command will be executed on all clusters. Confirm to proceed?","approvalOptions":{"values":{"approvalType":"double"}},"options":{}},"type":"n8n-nodes-base.slack","typeVersion":2.3,"position":[-400,-240],"id":"95b24d36-2140-4fe7-9569-9f60fc55510c","name":"Confirm to proceed","webhookId":"0abdc3b3-8776-45ee-ad09-f20ab720b12e","credentials":{"slackApi":{"id":"13OIerzhWzMlwQJL","name":"Slack account"}}},{"parameters":{"workflowId":{"__rl":true,"value":"cWVXYRtMUZBHlSd3","mode":"list","cachedResultName":"sub-prepull"},"workflowInputs":{"mappingMode":"defineBelow","value":{"cluster":"zillion2","channel_id":"={{ $('Args').item.json.channel_id }}"},"matchingColumns":["cluster"],"schema":[{"id":"cluster","displayName":"cluster","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"channel_id","displayName":"channel_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[-40,-240],"id":"030a2c45-6c77-4bf3-a195-7835674c2059","name":"pre-pull on zillion2"},{"parameters":{"workflowId":{"__rl":true,"value":"cWVXYRtMUZBHlSd3","mode":"list","cachedResultName":"sub-prepull"},"workflowInputs":{"mappingMode":"defineBelow","value":{"cluster":"lepton","channel_id":"={{ $('Args').item.json.channel_id }}"},"matchingColumns":["cluster"],"schema":[{"id":"cluster","displayName":"cluster","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"channel_id","displayName":"channel_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[120,-240],"id":"e9593717-8293-4c3f-a991-ad054a418764","name":"pre-pull on lepton"},{"parameters":{"workflowId":{"__rl":true,"value":"cWVXYRtMUZBHlSd3","mode":"list","cachedResultName":"sub-prepull"},"workflowInputs":{"mappingMode":"defineBelow","value":{"cluster":"aws","channel_id":"={{ $('Args').item.json.channel_id }}"},"matchingColumns":["cluster"],"schema":[{"id":"cluster","displayName":"cluster","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"channel_id","displayName":"channel_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[300,-240],"id":"fb668851-7acb-4381-b9e9-1f31496d4ea4","name":"pre-pull on aws"},{"parameters":{"workflowId":{"__rl":true,"value":"cWVXYRtMUZBHlSd3","mode":"list","cachedResultName":"sub-prepull"},"workflowInputs":{"mappingMode":"defineBelow","value":{"cluster":"z1","channel_id":"={{ $('Args').item.json.channel_id }}"},"matchingColumns":["cluster"],"schema":[{"id":"cluster","displayName":"cluster","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"channel_id","displayName":"channel_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[-220,-240],"id":"ec2b1d13-4ec0-450e-8bd8-787174df72ae","name":"pre-pull on z1"},{"parameters":{"assignments":{"assignments":[{"id":"df207051-51db-4d4b-bced-90205d736373","name":"channel_id","value":"C096JMM6PJ4","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-580,-240],"id":"39affd4e-af0b-4ea4-86e1-120a53e407ab","name":"Args"},{"parameters":{"workflowId":{"__rl":true,"value":"cWVXYRtMUZBHlSd3","mode":"list","cachedResultName":"sub-prepull"},"workflowInputs":{"mappingMode":"defineBelow","value":{"cluster":"aws-2","channel_id":"={{ $('Args').item.json.channel_id }}"},"matchingColumns":["cluster"],"schema":[{"id":"cluster","displayName":"cluster","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"channel_id","displayName":"channel_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[480,-240],"id":"51b1de49-4935-459e-b464-49dbd3ead2a5","name":"pre-pull on aws-2"}],"connections":{"Webhook":{"main":[[{"node":"Args","type":"main","index":0}]]},"Confirm to proceed":{"main":[[{"node":"pre-pull on z1","type":"main","index":0}]]},"pre-pull on zillion2":{"main":[[{"node":"pre-pull on lepton","type":"main","index":0}]]},"pre-pull on lepton":{"main":[[{"node":"pre-pull on aws","type":"main","index":0}]]},"pre-pull on z1":{"main":[[{"node":"pre-pull on zillion2","type":"main","index":0}]]},"Args":{"main":[[{"node":"Confirm to proceed","type":"main","index":0}]]},"pre-pull on aws":{"main":[[{"node":"pre-pull on aws-2","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"a96e5fd7-fd8d-42a6-9e03-3e4d4c078b90","triggerCount":1,"shared":[{"createdAt":"2025-07-15T06:56:17.655Z","updatedAt":"2025-07-15T06:56:17.655Z","role":"workflow:owner","workflowId":"FgL3xvjzMKchlHlB","projectId":"jA0J1Ydudz3t9Nad","project":{"createdAt":"2025-06-26T09:34:51.351Z","updatedAt":"2025-06-26T09:37:01.737Z","id":"jA0J1Ydudz3t9Nad","name":"Meshy AI <cloud-admins@meshy.ai>","type":"personal","icon":null,"description":null,"projectRelations":[{"createdAt":"2025-06-26T09:34:51.351Z","updatedAt":"2025-06-26T09:34:51.351Z","role":"project:personalOwner","userId":"35043bb3-1b78-4ddc-8eb1-4498c37e073f","projectId":"jA0J1Ydudz3t9Nad","user":{"createdAt":"2025-06-26T09:34:50.409Z","updatedAt":"2025-07-08T09:36:34.003Z","id":"35043bb3-1b78-4ddc-8eb1-4498c37e073f","email":"cloud-admins@meshy.ai","firstName":"Meshy","lastName":"AI","personalizationAnswers":null,"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"5wCVdXpCNTB9yu66","userActivatedAt":1751967393973},"role":"global:owner","disabled":false,"mfaEnabled":false,"isPending":false}}]}}],"tags":[{"createdAt":"2025-07-08T09:29:54.890Z","updatedAt":"2025-07-08T09:29:54.890Z","id":"KyqggJVNX7rPfoZx","name":"Infra"},{"createdAt":"2025-07-15T06:56:24.125Z","updatedAt":"2025-07-15T06:56:24.125Z","id":"FWJrdcfQA921RwJa","name":"Prod"}]}